<a id="cartIcon" href="/cart" class="cart-icon" role="button">
    <span class="cart-icon-num hide"></span>
    <img loading="lazy" width="40" height="40" src="{{ 'cart.svg' | asset_url }}" alt="Cart Icon"></a>