<div class="services__flower-head">
    {% for i in (1..3) %}
    <svg class="services__flower-head-{{ i }}" width="240" height="242" viewBox="0 0 240 242" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M102.537 193.787C102.537 167.159 119.999 145.573 119.999 145.573C119.999 145.573 137.462 167.159 137.462 193.787C137.462 220.414 129.644 242 119.999 242C110.355 242 102.537 220.414 102.537 193.787Z"
            fill="url(#paint0_linear_32_1313)" />
        <path
            d="M82.709 185.926C90.2212 160.377 113.066 144.579 113.066 144.579C113.066 144.579 123.732 170.203 116.219 195.752C108.707 221.301 95.1156 239.812 85.8622 237.099C76.6088 234.385 75.1969 211.474 82.709 185.926Z"
            fill="url(#paint1_linear_32_1313)" />
        <path
            d="M65.9036 172.803C80.3192 150.403 106.696 141.672 106.696 141.672C106.696 141.672 109.7 169.259 95.2848 191.66C80.8692 214.06 62.6058 227.998 54.4924 222.791C46.379 217.583 51.4881 195.203 65.9036 172.803Z"
            fill="url(#paint2_linear_32_1313)" />
        <path
            d="M53.4793 155.486C73.6302 138.049 101.402 137.093 101.402 137.093C101.402 137.093 96.5018 164.408 76.3504 181.845C56.1991 199.282 34.7434 207.517 28.4278 200.238C22.1122 192.96 33.3275 172.923 53.4793 155.486Z"
            fill="url(#paint3_linear_32_1313)" />
        <path
            d="M46.4441 135.374C70.6991 124.313 97.615 131.208 97.615 131.208C97.615 131.208 85.2067 156.038 60.9528 167.099C36.6989 178.161 13.7883 180.026 9.78191 171.265C5.7755 162.504 22.1897 146.435 46.4441 135.374Z"
            fill="url(#paint4_linear_32_1313)" />
        <path
            d="M45.3686 114.098C71.7612 110.308 95.6419 124.497 95.6419 124.497C95.6419 124.497 76.7317 144.831 50.339 148.62C23.9463 152.409 1.43833 147.753 0.0657516 138.22C-1.30682 128.687 18.9759 117.887 45.3686 114.098Z"
            fill="url(#paint5_linear_32_1313)" />
        <path
            d="M50.3391 93.3799C76.7318 97.1693 95.642 117.502 95.642 117.502C95.642 117.502 71.7613 131.691 45.3687 127.902C18.9762 124.113 -1.30682 113.312 0.0657508 103.779C1.43833 94.2461 23.9464 89.5901 50.3391 93.3799Z"
            fill="url(#paint6_linear_32_1313)" />
        <path
            d="M60.9529 74.9007C85.2078 85.962 97.6151 110.792 97.6151 110.792C97.6151 110.792 70.6986 117.687 46.4442 106.626C22.1898 95.5649 5.77556 79.4959 9.78222 70.7351C13.7889 61.9744 36.6984 63.8394 60.9529 74.9007Z"
            fill="url(#paint7_linear_32_1313)" />
        <path
            d="M76.3503 60.1549C96.5017 77.5919 101.402 104.907 101.402 104.907C101.402 104.907 73.6305 103.951 53.4793 86.5134C33.3282 69.0761 22.1117 49.0402 28.4276 41.7614C34.7434 34.4826 56.1991 42.7178 76.3503 60.1549Z"
            fill="url(#paint8_linear_32_1313)" />
        <path
            d="M95.2841 50.3391C109.7 72.7393 106.695 100.326 106.695 100.326C106.695 100.326 80.3186 91.5952 65.9029 69.1952C51.4873 46.7953 46.3782 24.4151 54.4916 19.2081C62.605 14.0011 80.8685 27.939 95.2841 50.3391Z"
            fill="url(#paint9_linear_32_1313)" />
        <path
            d="M116.22 46.2482C123.733 71.7967 113.067 97.4209 113.067 97.4209C113.067 97.4209 90.2221 81.6228 82.7103 56.0742C75.1986 30.5256 76.6101 7.61482 85.8635 4.90139C95.1169 2.18795 108.708 20.6996 116.22 46.2482Z"
            fill="url(#paint10_linear_32_1313)" />
        <path
            d="M137.462 48.2134C137.462 74.8405 120 96.4267 120 96.4267C120 96.4267 102.537 74.8398 102.537 48.2134C102.537 21.5869 110.355 0 120 0C129.644 0 137.462 21.5856 137.462 48.2134Z"
            fill="url(#paint11_linear_32_1313)" />
        <path
            d="M157.29 56.0742C149.778 81.6228 126.933 97.4209 126.933 97.4209C126.933 97.4209 116.267 71.7972 123.78 46.2481C131.292 20.699 144.882 2.18796 154.137 4.90139C163.391 7.61483 164.802 30.5256 157.29 56.0742Z"
            fill="url(#paint12_linear_32_1313)" />
        <path
            d="M174.096 69.1954C159.68 91.5951 133.304 100.327 133.304 100.327C133.304 100.327 130.299 72.7397 144.715 50.3393C159.131 27.939 177.394 14.0014 185.508 19.2085C193.621 24.4155 188.512 46.7952 174.096 69.1954Z"
            fill="url(#paint13_linear_32_1313)" />
        <path
            d="M186.52 86.5139C166.369 103.951 138.597 104.907 138.597 104.907C138.597 104.907 143.497 77.5924 163.649 60.1554C183.8 42.7184 205.256 34.4832 211.571 41.7619C217.887 49.0406 206.671 69.0768 186.52 86.5139Z"
            fill="url(#paint14_linear_32_1313)" />
        <path
            d="M193.556 106.625C169.301 117.687 142.385 110.791 142.385 110.791C142.385 110.791 154.793 85.961 179.047 74.8998C203.301 63.8385 226.212 61.9732 230.218 70.7342C234.224 79.4952 217.81 95.5642 193.556 106.625Z"
            fill="url(#paint15_linear_32_1313)" />
        <path
            d="M194.63 127.902C168.238 131.691 144.357 117.502 144.357 117.502C144.357 117.502 163.267 97.1687 189.66 93.3794C216.053 89.59 238.561 94.2462 239.933 103.779C241.306 113.312 221.023 124.113 194.63 127.902Z"
            fill="url(#paint16_linear_32_1313)" />
        <path
            d="M189.661 148.619C163.268 144.83 144.358 124.497 144.358 124.497C144.358 124.497 168.239 110.308 194.631 114.097C221.024 117.886 241.307 128.687 239.934 138.22C238.562 147.753 216.054 152.409 189.661 148.619Z"
            fill="url(#paint17_linear_32_1313)" />
        <path
            d="M123.778 195.752C116.266 170.203 126.932 144.579 126.932 144.579C126.932 144.579 149.777 160.377 157.289 185.926C164.8 211.474 163.389 234.385 154.135 237.098C144.882 239.812 131.291 221.3 123.778 195.752Z"
            fill="url(#paint18_linear_32_1313)" />
        <path
            d="M179.047 167.099C154.792 156.038 142.385 131.208 142.385 131.208C142.385 131.208 169.301 124.312 193.556 135.373C217.81 146.435 234.224 162.504 230.218 171.264C226.212 180.025 203.301 178.16 179.047 167.099Z"
            fill="url(#paint19_linear_32_1313)" />
        <path
            d="M163.649 181.844C143.498 164.407 138.598 137.092 138.598 137.092C138.598 137.092 166.369 138.048 186.521 155.486C206.672 172.923 217.888 192.959 211.572 200.237C205.256 207.516 183.801 199.281 163.649 181.844Z"
            fill="url(#paint20_linear_32_1313)" />
        <path
            d="M144.715 191.66C130.299 169.26 133.304 141.673 133.304 141.673C133.304 141.673 159.681 150.404 174.096 172.804C188.512 195.204 193.621 217.584 185.508 222.791C177.394 227.998 159.131 214.06 144.715 191.66Z"
            fill="url(#paint21_linear_32_1313)" />
        <path
            d="M120 155.872C139.286 155.872 154.921 140.259 154.921 121C154.921 101.74 139.286 86.1271 120 86.1271C100.714 86.1271 85.0791 101.74 85.0791 121C85.0791 140.259 100.714 155.872 120 155.872Z"
            fill="#FFFCE6" />
        <defs>
            <linearGradient id="paint0_linear_32_1313" x1="10034.5" y1="80661.7" x2="13520.5" y2="84016.3"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint1_linear_32_1313" x1="11742.1" y1="77618.7" x2="15055.9" y2="81510.8"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint2_linear_32_1313" x1="16066.4" y1="68785.9" x2="18576.8" y2="73355.1"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint3_linear_32_1313" x1="21279.4" y1="55075.3" x2="22700.8" y2="59365"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint4_linear_32_1313" x1="25158" y1="39960.2" x2="25831" y2="43275.2"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint5_linear_32_1313" x1="27198.3" y1="30577.7" x2="27569.6" y2="33164.3"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint6_linear_32_1313" x1="27198.3" y1="30556.4" x2="27569.7" y2="33142.9"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint7_linear_32_1313" x1="25158" y1="39896.2" x2="25831" y2="43211.2"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint8_linear_32_1313" x1="21279.4" y1="54977.4" x2="22700.9" y2="59267.1"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint9_linear_32_1313" x1="16066.5" y1="68662.4" x2="18576.8" y2="73231.6"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint10_linear_32_1313" x1="11742" y1="77478.7" x2="15055.9" y2="81370.8"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint11_linear_32_1313" x1="10034.5" y1="80516.1" x2="13520.5" y2="83870.7"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint12_linear_32_1313" x1="11785.4" y1="77478.7" x2="15099.2" y2="81370.9"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint13_linear_32_1313" x1="16148.9" y1="68662.4" x2="18659.2" y2="73231.5"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint14_linear_32_1313" x1="21391.2" y1="54977.4" x2="22812.7" y2="59267.1"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint15_linear_32_1313" x1="25291.2" y1="39896.4" x2="25964.2" y2="43211.3"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint16_linear_32_1313" x1="27342.6" y1="30556.4" x2="27714" y2="33143"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint17_linear_32_1313" x1="27342.6" y1="30577.6" x2="27714" y2="33164.2"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint18_linear_32_1313" x1="11785.3" y1="77618.7" x2="15099.1" y2="81510.8"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint19_linear_32_1313" x1="25291.2" y1="39960.2" x2="25964.2" y2="43275.1"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint20_linear_32_1313" x1="21391.3" y1="55075.3" x2="22812.7" y2="59365"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
            <linearGradient id="paint21_linear_32_1313" x1="16148.9" y1="68785.8" x2="18659.2" y2="73355"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FFE6FE" />
                <stop offset="1" stop-color="#E6CFE4" />
            </linearGradient>
        </defs>
    </svg>
    {% endfor %}
</div>