<section class="appointment">
    <div class="appointment__content">
        {% for product in all_products limit: 20%}
        {{ product.title }}
        {% endfor %}

    </div>
</section>


{% schema %}
{
"name": "Book Appointment",
"settings": [
]
}
{% endschema %}