<section class="hero-2">
    <div class="hero-2__content">
        <div class="hero-2__content-info">
            <h1 class="hero-2__content-info__title">Book Your Appointment Today</h1>
            <button class="hero-2__content-info__btn" id="bookAppointment">Book Now</button>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0579/4758/6733/files/manicure.jpg?v=1640633469" alt=""
            class="hero-2__content-img">
    </div>
</section>

{% schema %}
{
"name": "main_hero-2",
"settings": [

]
}
{% endschema %}