{% render 'no-overflow'%}


<section class="image-with-text">
    <div class="image-with-text__content">

        <div class="image-with-text__content-title">
            <h2>Newly Renovated Everything!</h2>
        </div>
        <div class="image-with-text__content-list">
            <ul>
                <li>All Brand New Equipment</li>
                <li>New Pedicure Chairs</li>
                <li>New Manicure Tables</li>
                <li>Newly Remodeled Bathroom</li>
                <li>Newly Installed Flooring And Sinks</li>
                <li>Brand New Refreshing Decor</li>
            </ul>
        </div>
    </div>
    <div class="img-container">
        <img loading="lazy"
            src="https://cdn.shopify.com/s/files/1/0579/4758/6733/files/24k-nail-spa-renovations-web_0951.jpg?v=1642046628"
            width="800" height="1101" alt="" class="image-with-text__content-bg-img">
    </div>
</section>


{% schema %}
{
"name": "main_image-with-text",
"settings": [
]
}
{% endschema %}