<section id="productBooking" class="product" data-variantId="{{product.selected_or_first_available_variant.id}}"
    data-productId="{{ product.id }}">



    <h2>Step 1: Select A Date For Your Appointment</h2>
    {% form 'product', product, id: 'bookingForm'%}


    <div class="time-slots">
        <h3 class="time-slots-info">Step 2: Once You Have Choosen A Date Choose From The Available Times Below</h3>

    </div>

    <div class="customer-info">
        <h3 class="customer-info-info">Step 3: After You Have Completed Steps 1 & 2 Fill Out The Form Below And Click
            Create Booking</h3>
        <div class="customer-info__input">
            <label for="booking-name">Full Name</label>
            <input placeholder="Full Name Here" type="text" name="properties[booking-name]" id="booking-name" required>
        </div>
        <div class="customer-info__input">
            <label for="phone">Your Phone Number</label>
            <input placeholder="Phone Number Here" type="text" name="properties[phone]" id="phone" required>
        </div>
        <div class="customer-info__input">
            <label for="email">Your Email Address</label>
            <input placeholder="Email Here" type="email" name="properties[email]" id="email" required>
        </div>
        <!-- <div class="customer-info__input">
                <label for="zip">Your Zip Code</label>
                <input type="hidden" name="fields[name]" value="zip">
                <input placeholder="Zip Code Here" type="zip" name="fields[value]" id="zip" required>
            </div> -->
    </div>
    <input type="hidden" name="quantity" value="1">
    <input type="hidden" name="id" value="{{product.selected_or_first_available_variant.id}}">
    <button class="btn btn-primary-outline submit">Create Booking</button>


    {% endform %}

</section>

<script defer="defer" src="{{ 'booking.js' | asset_url }}"></script>