<section class="banner">
    <div class="banner__content">
        <p class="banner__content-subheading">Treat yourself, because you deserve it</p>
        <h2 class="banner__content-heading">Don't hesitate when it comes to your self care rituals</h2>
        <button id="bookAppointment" class="banner__content-btn">Book Now</button>
    </div>
</section>

{% schema %}
{
"name": "main_banner",
"settings": [

]
}
{% endschema %}