<section class="image-quote">
    <div class="image-quote__content">
        <div class="image-quote__content-img">
            <img loading="lazy" width="800" height="1198"
                src="https://cdn.shopify.com/s/files/1/0579/4758/6733/files/24k-nail-spa-renovations-web_0926.jpg?v=1642046628"
                alt="Interior shot of the nail spa pedicure chairs line across a pink wall with pedicure sinks in front of each chair. Light pink, white, and yellow flowers hang down from the ceiling above the pedicure chairs.">
        </div>
        <div class="image-quote__content-quote">
            <h2>Blossom into a renewed & refreshed you.</h2>
        </div>

    </div>
</section>

{% schema %}
{
"name": "main_image-quote",
"settings": [

]
}
{% endschema %}