<section class="hero-2">
    <div class="hero-2__content">
        <div class="hero-2__content-info">
            <h1 class="hero-2__content-info__title">Book Your Appointment Today</h1>
            <button class="hero-2__content-info__btn" id="bookAppointment">Book Now</button>
        </div>
        <div class="hero-2__content-img-wrapper">
            {% if section.settings.hero_image == blank %}
            <img src="https://cdn.shopify.com/s/files/1/0579/4758/6733/files/24k-nail-spa-renovations-web_1102.jpg?v=1642046628"
                alt="" class="hero-2__content-img-wrapper-img">

            {% else %}

            {{ section.settings.hero_image | image_url: width: 1000, height: 1000, crop: "center", format: 'pjpg' |
            image_tag: class:
            "hero-2__content-img-wrapper-img"
            }}
            {% endif %}

        </div>
    </div>
</section>

{% schema %}
{
"name": "main_hero-2",
"settings": [
{
"type": "image_picker",
"id": "hero_image",
"label": "Hero Image"
}
],
"presets": [
{
"category": "Hero",
"name":"Hero 2"
}
]
}
{% endschema %}