<section class="newsletter">
    {% form 'customer' %}
    {{ form_errors | default_errors }}

    <div class="first-name">
        <label for="first-name">First name</label>
        <input type="text" name="contact[first_name]" />
    </div>

    <div class="last-name">
        <label for="last-name">Last name</label>
        <input type="text" name="contact[last_name]" />
    </div>

    <div class="email">
        <label for="email">Email</label>
        <input type="email" name="contact[email]" />
    </div>


    <div class="submit">
        <input type="submit" value="customer" />
    </div>
    {% endform %}

</section>

{% schema %}
{
"name": "main_newsletter",
"settings": [
]
}
{% endschema %}