<section id="productBooking" class="product" data-variantId="{{product.selected_or_first_available_variant.id}}"
    data-productId="{{ product.id }}">



    <h2>Select A Date For Your Appointment Then Choose A Slot</h2>
    <form id="bookingForm" action="https://api.bookthatapp.com/v1/bookings">

        <div class="time-slots">

        </div>

    </form>


</section>

<script defer="defer" src="{{ 'booking.js' | asset_url }}"></script>