<section id="productBooking" class="product" data-variantId="{{product.selected_or_first_available_variant.id}}"
    data-productId="{{ product.id }}">




    <form id="bookingForm" action="https://api.bookthatapp.com/v1/bookings">


    </form>

</section>

<script defer="defer" src="{{ 'booking.js' | asset_url }}"></script>