<section class="hours">
    <div class="hours__content">
        <div class="hours__content-heading">
            <h2>Hours Of Operation</h2>
        </div>
        <div class="hours__content-hours">
            <p>Monday - Friday | 10AM - 8PM</p>
            <p>Saturday | 9AM - 7PM</p>
            <p>Sunday | 11AM - 5PM</p>
            <button class="hours__content-btn" id="bookAppointment">Book Now</button>
        </div>
    </div>
</section>

{% schema %}
{
"name": "main_hours",
"settings": [

]
}
{% endschema %}