<section class="hero">
    <div class="image-container">
        <img loading="lazy" width="800px" height="1198"
            src="https://cdn.shopify.com/s/files/1/0579/4758/6733/files/cherry-blossom-tree.jpg?v=1640633469" alt=""
            class="hero-bg-image">
    </div>
    <div class="hero__content">
        <div class="hero__content-title">
            <h1>Opening Monday January 17th 2022!</h1>
        </div>

        <div class="hero__content-cards">
            <div class="hero__content-cards-card">
                <h2>Start Your Booking Below</h2>
                <div id="bookAppointment" role="link" aria-disabled="false" class="btn btn-primary-outline" href="">{{
                    section.settings.hero_btn-1-text }}</div>
            </div>
            <div class="hero__content-cards-card">
                <h2>Browse Services</h2>
                <div id="bookAppointment" role="link" aria-disabled="false"
                    class="btn btn-primary-outline goToServices">{{
                    section.settings.hero_btn-2-text }}</div>
            </div>
        </div>

        {% render 'flowers-1' %}
        <!-- <img class="svg-illustration" height="500" width="500" loading="lazy" src="{{ 'flowers-1.svg' | asset_url }}" alt=""> -->
        <svg class="svg-divider" width="1498" height="302" viewBox="0 0 1498 302" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M748 0L0 301.5H1498L748 0Z" fill="" />
        </svg>
    </div>
</section>


{% schema %}
{
"name": "main_hero",
"settings": [
{
"type": "url",
"id": "hero_btn-1",
"label": "Choose what this button does"
},
{
"type": "text",
"id": "hero_btn-1-text",
"label": "Put button text here",
"default": "Start Here",
"placeholder": "Start Here"
},
{
"type": "url",
"id": "hero_btn-2",
"label": "Choose what this button does"
},
{
"type": "text",
"id": "hero_btn-2-text",
"label": "Put button text here",
"default": "Browse",
"placeholder": "Start Here"
}
]
}
{% endschema %}