@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --secondary-10: hsla(14, 100%, 10%, 1);
  --secondary-20: hsla(14, 100%, 20%, 1);
  --secondary-30: hsla(14, 100%, 30%, 1);
  --secondary-40: hsla(14, 100%, 40%, 1);
  --secondary-50: hsla(14, 100%, 50%, 1);
  --secondary-60: hsla(14, 100%, 60%, 1);
  --secondary-70: hsla(14, 100%, 70%, 1);
  --secondary-80: hsla(14, 100%, 80%, 1);
  --secondary-90: hsla(14, 100%, 90%, 1);
  --secondary-95: hsla(14, 100%, 94.9%, 1);
  --secondary-98: hsla(14, 100%, 98%, 1);
  --secondary-99: hsla(14, 100%, 99%, 1);
  --secondary-10-m: hsla(14, 100%, 10%, 0.78);
  --secondary-20-m: hsla(14, 100%, 20%, 0.78);
  --secondary-30-m: hsla(14, 100%, 30%, 0.78);
  --secondary-40-m: hsla(14, 100%, 40%, 0.78);
  --secondary-50-m: hsla(14, 45.9%, 50%, 0.78);
  --secondary-60-m: hsla(14, 100%, 60%, 0.78);
  --secondary-70-m: hsla(14, 100%, 70%, 0.78);
  --secondary-80-m: hsla(14, 100%, 80%, 0.78);
  --secondary-90-m: hsla(14, 100%, 90%, 0.78);
  --secondary-95-m: hsla(14, 100%, 94.9%, 0.78);
  --secondary-98-m: hsla(14, 100%, 98%, 0.78);
  --secondary-99-m: hsla(14, 100%, 99%, 0.78);
  --primary-10: hsla(323, 100%, 10%, 1);
  --primary-20: hsla(323, 100%, 20%, 1);
  --primary-30: hsla(323, 100%, 30%, 1);
  --primary-40: hsla(323, 100%, 40%, 1);
  --primary-50: hsla(323, 100%, 50%, 1);
  --primary-60: hsla(323, 100%, 60%, 1);
  --primary-70: hsla(323, 100%, 70%, 1);
  --primary-80: hsla(323, 100%, 80%, 1);
  --primary-90: hsla(323, 100%, 90%, 1);
  --primary-95: hsla(323, 100%, 94.9%, 1);
  --primary-98: hsla(323, 100%, 98%, 1);
  --primary-99: hsla(323, 100%, 99%, 1);
  --primary-10-m: hsla(323, 100%, 10%, 0.78);
  --primary-20-m: hsla(323, 100%, 20%, 0.78);
  --primary-30-m: hsla(323, 100%, 30%, 0.78);
  --primary-40-m: hsla(323, 100%, 40%, 0.78);
  --primary-50-m: hsla(323, 100%, 50%, 0.78);
  --primary-60-m: hsla(323, 100%, 60%, 0.78);
  --primary-70-m: hsla(323, 100%, 70%, 0.78);
  --primary-80-m: hsla(323, 100%, 80%, 0.78);
  --primary-90-m: hsla(323, 100%, 90%, 0.78);
  --primary-95-m: hsla(323, 100%, 94.9%, 0.78);
  --primary-98-m: hsla(323, 100%, 98%, 0.78);
  --primary-99-m: hsla(323, 100%, 99%, 0.78);
  --xxsmall: 1rem;
  --xsmall: 1.3rem;
  --small: 1.6rem;
  --medium: 2rem;
  --regular-24: 2.4rem;
  --regular-31: 3.1rem;
  --large: 3.8rem;
  --xlarge: 4.8rem;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-98);
  overflow-x: hidden;
  min-height: 100vh;
}

main {
  min-height: 80vh;
}

a,
a:link,
a:active {
  text-decoration: none;
  color: var(--primary-98);
  background-color: transparent;
  border: none;
}

button,
button:active {
  background-color: transparent;
  border: none;
}

.btn {
  width: 80%;
  padding: 1rem 4rem;
  text-align: center;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 600;
  border: none;
}
.btn.btn-primary {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-40);
  color: var(--secondary-99);
}
.btn.btn-primary:active, .btn.btn-primary:hover {
  transform: scale(1.05);
  color: var(--primary-40);
  background-color: var(--primary-90);
  border: 2px solid var(--primary-50);
  border-radius: 1rem;
}
.btn.btn-primary-outline {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--primary-50);
  color: var(--primary-50);
  letter-spacing: 2px;
}
.btn.btn-primary-outline:active, .btn.btn-primary-outline:hover {
  transform: scale(1.05);
  color: var(--primary-99);
  background-color: var(--primary-50);
  border-radius: 1rem;
}
.btn.btn-secondary {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-80);
  color: var(--primary-60);
}
.btn.btn-secondary:active, .btn.btn-secondary:hover {
  transform: scale(1.05);
  color: var(--primary-80);
  background-color: var(--secondary-70);
  border-radius: 1rem;
}

section {
  transition: all 0.7s ease-in-out;
  transform: translateY(0rem);
}

.hide {
  opacity: 0;
  transform: translateY(10rem);
}

.unhide {
  opacity: 1;
}

.lazy {
  filter: blur(10px);
  transition: filter 0.5s ease-in-out;
}

.minus,
.plus {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
}
.minus i,
.plus i {
  position: relative;
  z-index: -1;
}

.is-hidden {
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.box {
  width: 100%;
  padding: 2em;
  text-align: center;
}

.quantity {
  position: relative;
  display: inline-block;
  color: #7f7f7f;
}
.quantity input[type=number] {
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  box-shadow: none;
  outline: none;
  width: 42px;
  height: 34px;
  text-align: center;
  float: right;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  color: #342f2f;
}
.quantity input[type=number]:focus {
  border-color: #57b8f6 !important;
}
.quantity input[type=number]:hover {
  border-color: #a5a5a5;
}
.quantity-button {
  width: 39px;
  height: 34px;
  display: inline-block;
  float: right;
  position: relative;
  cursor: pointer;
}
.quantity-button::before, .quantity-button::after {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 7px);
  content: "";
  width: 14px;
  height: 2px;
  background-color: currentColor;
  display: block;
}
.quantity-remove::after {
  display: none;
}
.quantity-add::after {
  transform: rotate(90deg);
}

.header {
  position: relative;
  height: max-content;
  width: 100%;
  padding: 0 4vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10;
  background-color: white;
  padding-bottom: 2rem;
  border-radius: 0 0 3rem 3rem;
}
.header .overlay {
  display: none;
  position: fixed;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-80-m);
  z-index: -1;
  overflow: hidden;
  transform: translate(100%, 0);
  transition: transform 0.5s ease-in-out;
}
.header .overlay.open {
  transform: translate(0, 0);
  transition: transform 0.5s ease-in-out;
}
.header__logo {
  height: auto;
}
.header__logo img {
  display: block;
  margin: 2rem auto 0 auto;
  height: auto;
  width: 11.5rem;
}
.header .nav-container {
  height: min-content;
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 2rem;
}
.header .nav-container .navlink__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .nav-container .navlink__container .nav-link,
.header .nav-container .navlink__container .nav-link:link,
.header .nav-container .navlink__container .nav-link:active {
  margin: 0 calc(2rem + 2vw);
  font-size: calc(1.2rem + 0.5vw);
  color: var(--primary-10);
  font-family: var(--font-heading-family);
}
.header .nav-container .navlink__container .nav-link-active,
.header .nav-container .navlink__container .nav-link-active:link,
.header .nav-container .navlink__container .nav-link-active:active {
  margin: 0 calc(2rem + 2vw);
  font-size: calc(1.2rem + 0.5vw);
  color: var(--primary-50);
  padding: 1rem 0;
}
.header .nav-container .navlink__container #bookAppointment {
  position: relative;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  color: var(--primary-99);
  background-color: var(--primary-80-m);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.header .nav-container .navlink__container #bookAppointment::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: -5rem;
  width: 19%;
  height: 120%;
  transform: skewX(30deg);
  background-color: rgba(255, 255, 255, 0.474);
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.header .nav-container .navlink__container #bookAppointment:hover::after {
  left: 12rem;
}
.header .nav-container .navlink__container #bookAppointment:hover {
  transform: scale(1.06);
  background-color: var(--primary-80);
}
.header .cart-icon {
  position: absolute;
  bottom: 1.5rem;
  right: 3rem;
  display: block;
  margin-left: auto;
  width: 5rem;
  border-radius: 1rem;
  height: auto;
  background-color: var(--primary-99);
  border: none;
  cursor: pointer;
}
.header .cart-icon img {
  display: block;
  margin: 0.4rem auto;
  width: 4rem;
  height: 4rem;
}
.header .cart-icon-num {
  display: block;
  position: absolute;
  top: 0.4rem;
  left: 2.6rem;
  background-color: var(--primary-30);
  width: 2rem;
  text-align: center;
  border-radius: 10rem;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-99);
}
.header .hamburger-button {
  display: none;
  position: absolute;
  top: 7rem;
  right: 0.5rem;
  width: 5rem;
  height: 5rem;
  padding: 1rem 1rem;
  background-color: var(--primary-10);
  border-radius: 1rem;
  z-index: 1;
  cursor: pointer;
}
.header .hamburger-button .lines,
.header .hamburger-button .lines::after,
.header .hamburger-button .lines::before {
  display: block;
  position: relative;
  top: 0rem;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 0.2rem;
  background-color: var(--primary-30);
  transition: all 0.5s ease-in-out;
}
.header .hamburger-button .lines::after {
  position: absolute;
  content: "";
  top: 1.25rem;
  transition: all 0.5s ease-in-out;
}
.header .hamburger-button .lines::before {
  position: absolute;
  content: "";
  top: 2.5rem;
  transition: all 0.5s ease-in-out;
}
.header .hamburger-button.open .lines {
  background-color: transparent;
}
.header .hamburger-button.open .lines::after {
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}
.header .hamburger-button.open .lines::before {
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}
.header .hamburger-button.open .lines::after, .header .hamburger-button.open .lines::before {
  top: 1.25rem;
}
@media screen and (max-width: 900px) {
  .header .overlay {
    display: block;
  }
  .header .overlay .open {
    overflow: hidden;
  }
  .header .header__logo img {
    height: 10rem;
  }
  .header .nav-container {
    overflow-x: hidden;
    height: 0;
  }
  .header .nav-container.open {
    overflow-x: visible;
  }
  .header .nav-container .navlink__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    transform: translate(100%, 0);
    transition: transform 0.5s ease-in-out;
  }
  .header .nav-container .navlink__container .nav-link,
.header .nav-container .navlink__container .nav-link:active,
.header .nav-container .navlink__container .nav-link:link {
    font-size: calc(1.5rem + 1vw);
    color: var(--primary-99);
    margin: 3rem 0;
  }
  .header .nav-container .navlink__container .nav-link-active,
.header .nav-container .navlink__container .nav-link-active:active,
.header .nav-container .navlink__container .nav-link-active:link {
    font-size: calc(1.5rem + 1vw);
    color: var(--secondary-90);
    margin: 3rem 0;
  }
  .header .nav-container .navlink__container.open {
    position: fixed;
    overflow: hidden;
    transform: translate(0, 0);
    transition: transform 0.5s ease-in-out;
  }
  .header .cart-icon {
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 0;
    top: 2rem;
    right: 0.5rem;
    border: 2px solid var(--primary-30);
    border-radius: 1rem;
  }
  .header .hamburger-button {
    position: fixed;
    top: 9rem;
    display: block;
    background-color: var(--primary-99);
    border: 2px solid var(--primary-30);
  }
}

.hero {
  width: 100%;
}
.hero__content {
  height: 90vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: linear-gradient(to bottom, var(--primary-98), var(--primary-95));
}
.hero__content-title {
  text-align: center;
}
.hero__content-cards {
  margin-top: 5rem;
  padding: 0 5rem;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
.hero__content-cards-card {
  width: calc(35rem + 5vw);
  max-width: 100rem;
  height: min-content;
  max-height: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-99);
  padding: 3rem 3rem;
  box-shadow: 0 18px 17px -12px rgba(0, 0, 0, 0.25);
}
.hero__content-cards-card h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-size: calc(1.5rem + 1vw);
  color: var(--primary-40);
}
.hero .svg-illustration {
  position: absolute;
  z-index: -1;
  margin: 0 auto;
  height: auto;
  width: 30%;
  bottom: 5%;
  right: 35%;
}
.hero #flowerHead-1 {
  stroke-width: 1;
  stroke: var(--primary-90);
  stroke-dasharray: 180;
  stroke-dashoffset: 0;
  animation: flowerHead 10s linear forwards infinite;
}
.hero .svg-divider {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.hero .svg-divider path {
  bottom: 0;
  right: 0;
  fill: var(--secondary-98);
}
@media screen and (max-width: 900px) {
  .hero {
    height: 80vh;
  }
  .hero__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .hero__content-cards {
    margin-top: 0rem;
    display: flex;
    height: min-content;
    padding: 0 0;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .hero__content-cards-card {
    margin-top: 0rem;
    width: 100%;
    background-color: var(--secondary-99-m);
  }
  .hero .svg-illustration {
    bottom: -8vh;
    width: 80%;
    right: 10%;
    height: 95%;
  }
  .hero .svg-divider {
    bottom: 7rem;
    z-index: -1;
    transform: scaleX(2);
    height: auto;
  }
}

@keyframes flowerHead {
  0% {
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dashoffset: 180;
  }
  50% {
    stroke-dashoffset: 360;
  }
  75% {
    stroke-dashoffset: 180;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.services {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-98);
  overflow: hidden;
}
.services__content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.services__content-title {
  display: block;
  text-align: center;
}
.services__content-options {
  position: relative;
  z-index: 1;
  width: calc(90rem + 10vw);
}
.services__content-options button {
  margin-bottom: 2rem;
  width: 100%;
  height: calc(8rem + 1vw);
}
.services__content-options-btn.btn.btn-primary {
  background-color: var(--primary-80);
  color: var(--primary-98);
}
.services__flower-head-1 {
  position: absolute;
  top: 10%;
  left: 0;
  width: calc(10rem + 5vw);
  height: auto;
  animation: 5s levitate cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite forwards;
  z-index: -1;
}
.services__flower-head-2 {
  position: absolute;
  bottom: -5rem;
  left: -10rem;
  animation: 5.4s levitate cubic-bezier(0.445, 0.05, 0.55, 0.95) 3s infinite forwards;
}
.services__flower-head-3 {
  position: absolute;
  top: 20%;
  right: -15rem;
  width: calc(30rem + 5vw);
  height: auto;
  animation: 7s levitate cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite reverse;
}

@keyframes levitate {
  0% {
    transform: translateY(0rem) rotate(0deg);
  }
  50% {
    transform: translateY(10rem) rotate(180deg);
  }
  100% {
    transform: translateY(0rem) rotate(360deg);
  }
}
.image-with-text {
  background-color: var(--primary-95);
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.image-with-text__content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.image-with-text__content-title {
  flex-basis: 50%;
  text-align: left;
  font-size: calc(1.5rem + 2vw);
  color: var(--primary-20);
}
.image-with-text__content-list {
  flex-basis: 40%;
}
.image-with-text__content-list ul li {
  margin: 7rem 0;
  text-decoration: none;
  list-style: none;
  font-size: calc(1.5rem + 1vw);
  color: var(--primary-20);
}
.image-with-text__svg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: calc(-30rem - 5vw);
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .image-with-text {
    overflow-y: hidden;
  }
  .image-with-text__content {
    flex-wrap: wrap;
  }
  .image-with-text__content-title {
    flex-basis: 100%;
    text-align: center;
  }
  .image-with-text__content-list {
    text-align: center;
  }
  .image-with-text__svg {
    transform: rotate(90deg);
    left: 0;
    top: -23rem;
    width: 100%;
    height: 90%;
  }
}
@media screen and (max-width: 600px) {
  .image-with-text__svg {
    width: 100%;
    height: 60%;
  }
}

.map {
  min-height: 70rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary-99);
}
.map-page {
  height: 100%;
}
.map__title {
  width: 100%;
  text-align: center;
}
.map__content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.map__content-container {
  width: calc(40rem + 5vw);
}
.map__content-info {
  margin-left: 4rem;
  width: calc(45rem + 5vw);
  height: 100%;
  color: var(--primary-40);
}
.map__content-info address {
  font-size: calc(1.5rem + 1vw);
  font-family: var(--font-heading-family);
}
.map__content-info h3 {
  display: block;
  margin-bottom: 4rem;
  font-size: calc(1.5rem + 2vw);
}
.map__content-info p {
  font-size: calc(1.2rem + 0.5vw);
}
.map__content #map {
  height: 50rem;
  width: 50rem;
}
@media screen and (max-width: 900px) {
  .map__content {
    flex-wrap: wrap;
  }
  .map__content-contatiner {
    width: 100%;
  }
  .map__content #map {
    width: 100%;
    height: 40rem;
  }
  .map__content-info {
    margin-left: 0;
    margin-top: 4rem;
  }
  .map__content-info h3 {
    margin-bottom: 1rem;
  }
}

.newsletter {
  width: 100%;
  height: min-content;
  position: relative;
}
.newsletter .svg-illustration {
  position: absolute;
  height: 60%;
  width: auto;
  bottom: 0;
  right: 5rem;
  z-index: -1;
}
.newsletter h2 {
  width: 100%;
  text-align: center;
}
.newsletter p {
  width: 100%;
  text-align: left;
  font-size: calc(1.5rem + 1vw);
}
.newsletter form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.newsletter form .newsletter__first-name {
  width: 45%;
}
.newsletter form .newsletter__first-name label {
  display: block;
  font-size: calc(1.2rem + 0.5vw);
}
.newsletter form .newsletter__first-name input {
  width: 100%;
  height: 5rem;
}
.newsletter form .newsletter__last-name {
  width: 45%;
}
.newsletter form .newsletter__last-name label {
  display: block;
  font-size: calc(1.2rem + 0.5vw);
}
.newsletter form .newsletter__last-name input {
  width: 100%;
  height: 5rem;
}
.newsletter form .newsletter__email {
  width: 45%;
}
.newsletter form .newsletter__email label {
  display: block;
  font-size: calc(1.2rem + 0.5vw);
}
.newsletter form .newsletter__email input {
  width: 100%;
  height: 5rem;
}
.newsletter form .newsletter__message {
  width: 100%;
}
.newsletter form .newsletter__message label {
  display: block;
  font-size: calc(1.2rem + 0.5vw);
}
.newsletter form .newsletter__message textarea {
  width: 100%;
  height: 20rem;
}
.newsletter form .newsletter__submit {
  width: 100%;
  height: 100%;
}
.newsletter form .newsletter__submit input {
  display: block;
  margin: 0 auto;
  border: none;
  text-align: center;
  height: 5rem;
  width: calc(30rem + 5vw);
  margin-top: 3rem;
}
@media screen and (max-width: 600px) {
  .newsletter form .newsletter__first-name {
    width: 100%;
  }
  .newsletter form .newsletter__last-name {
    width: 100%;
  }
  .newsletter form .newsletter__email {
    width: 100%;
  }
}

.footer {
  min-height: 30rem;
  width: 100%;
  background-color: var(--primary-99);
}
.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.footer__content-logo {
  width: auto;
  height: 15rem;
}
.footer__content-nav {
  display: flex;
  flex-direction: column;
}
.footer__content-nav h2 {
  width: max-content;
  margin: 0 auto;
  display: block;
  font-size: calc(1.5rem + 1vw);
  color: var(--primary-80);
}
.footer__content-nav-link, .footer__content-nav-link:active, .footer__content-nav-link:link {
  width: max-content;
  margin: 0 auto;
  display: block;
  font-size: calc(1.2rem + 0.5vw);
  color: var(--primary-80);
}
.footer__content-socials {
  align-self: flex-start;
}
.footer__content-socials h2 {
  width: max-content;
  margin: 0 auto;
  display: block;
  font-size: calc(1.5rem + 1vw);
  color: var(--primary-80);
}
.footer__content-socials a,
.footer__content-socials a:link,
.footer__content-socials a:active {
  margin: 0 auto;
  width: max-content;
  color: var(--primary-80);
  transition: color 0.3s ease-in-out;
}
.footer__content-socials a svg,
.footer__content-socials a:link svg,
.footer__content-socials a:active svg {
  height: calc(2rem + 1vw);
  width: auto;
}
.footer__content-socials a:hover,
.footer__content-socials a:link:hover,
.footer__content-socials a:active:hover {
  color: var(--secondary-70);
}
.footer__bottom_content {
  width: 100%;
  min-height: 5rem;
}
.footer__bottom_content .icon {
  width: 5rem;
  height: auto;
}
.footer__bottom_content .copyright-content {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: calc(1rem + 0.5vw);
}
.footer__bottom_content .copyright-content a,
.footer__bottom_content .copyright-content a:active,
.footer__bottom_content .copyright-content a:link {
  color: var(--primary-80);
}
@media screen and (max-width: 600px) {
  .footer__content-nav {
    width: 100%;
    margin-top: 2rem;
  }
  .footer__content-nav h2 {
    font-size: calc(1.5rem + 2vw);
  }
  .footer__content-nav-link, .footer__content-nav-link:link, .footer__content-nav-link:active {
    font-size: calc(1.5rem + 1vw);
  }
  .footer__content-socials {
    margin-top: 2rem;
  }
  .footer__content-socials h2 {
    font-size: calc(1.5rem + 2vw);
  }
  .footer__content-socials a,
.footer__content-socials a:link,
.footer__content-socials a:active {
    display: block;
  }
}

.cart__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.cart__content .line-item {
  width: 100%;
  padding: 3rem 0rem;
}
.cart__content .line-item h2 {
  color: var(--primary-30);
  font-size: calc(1.5rem + 2vw);
}
.cart__content .line-item-review {
  color: var(--primary-30);
  font-size: calc(1.2rem + 0.5vw);
  margin-bottom: 2rem;
}
.cart__content .line-item-price {
  display: block;
  color: var(--primary-30);
  font-size: calc(1.5rem + 1vw);
}
.cart__content .line-item ul {
  text-decoration: none;
  list-style: none;
  font-size: calc(1.5rem + 1vw);
}
.cart__content-total {
  width: 100%;
  font-size: calc(1.5rem + 1vw);
}
.cart__content input {
  width: 100%;
}

.collection {
  width: 100%;
  height: 100%;
}
.collection h1 {
  text-align: center;
}
.collection p {
  text-align: center;
  font-size: calc(1.2rem + 0.5vw);
  color: var(--primary-50);
  width: 70%;
  display: block;
  margin: 0 auto;
}
.collection__content {
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4rem 0;
}
.collection__content-product {
  padding: 2rem 0.5rem;
  border: 0.3rem solid var(--primary-80);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  margin: 1rem 1rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0);
  transform: translateY(0);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.collection__content-product:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.322);
}
.collection__content-product::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  transform: skewX(60deg) translateX(-50rem);
  background: rgba(255, 255, 255, 0.576);
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.collection__content-product:hover::before {
  transform: skewX(80deg) translateX(150rem);
}
.collection__content-product-btn {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.collection__content-product--title {
  order: 0;
  width: 100%;
  font-size: calc(1.5rem + 1vw);
  color: var(--primary-80) !important;
  display: block;
  text-align: center;
}
.collection__content-product--price {
  order: 2;
  width: 100%;
  padding: 2rem;
  font-size: calc(1.5rem + 1vw);
  color: var(--primary-90);
  display: block;
  text-align: center;
}
.collection__content-product .box {
  order: 4;
}
.collection__content .btn {
  border: none;
  margin-top: 3rem;
  width: 70%;
  font-size: calc(1.5rem + 1vw);
}

.list-collection {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 20rem;
  overflow: hidden;
}
.list-collection__content {
  z-index: 2;
}
.list-collection__content-title {
  text-align: center;
}
.list-collection__content-collections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.list-collection__content-collections a,
.list-collection__content-collections a:link,
.list-collection__content-collections a:active {
  width: 80%;
  margin-top: 2rem;
  padding: 4rem 0;
  font-size: calc(1.5rem + 1vw);
}
.list-collection .services__flower-head-1, .list-collection .services__flower-head-2, .list-collection .services__flower-head-3 {
  z-index: -1;
}

.product #bookingForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.product h2 {
  text-align: center;
}
.product .extras {
  order: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product .extras-custom-select {
  order: 1;
  display: block;
  position: relative;
  margin: 0 auto;
  width: calc(25rem + 15vw);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}
.product .extras-custom-select:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--primary-40);
}
.product .extras-custom-select i {
  position: absolute;
  right: 1.4rem;
  top: 1.5rem;
  font-size: 2.5rem;
  color: var(--secondary-95);
}
.product .extras-custom-select .extras-selection {
  border-radius: 3rem;
  cursor: pointer;
  background-color: var(--primary-70);
  color: white;
  padding: 0.5rem 0.5rem;
  width: 100%;
  border: none;
  font-size: calc(1.5rem + 1vw);
  text-align: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  height: 6rem;
}
.product .custom-select {
  order: 1;
  display: block;
  position: relative;
  margin: 0 auto;
  width: calc(25rem + 15vw);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}
.product .custom-select:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--primary-40);
}
.product .custom-select i {
  position: absolute;
  right: 1.4rem;
  top: 1.5rem;
  font-size: 2.5rem;
  color: var(--secondary-95);
}
.product .custom-select .day-selection {
  border-radius: 3rem;
  cursor: pointer;
  background-color: var(--primary-70);
  color: white;
  padding: 0.5rem 0.5rem;
  width: 100%;
  border: none;
  font-size: calc(1.5rem + 1vw);
  text-align: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  height: 6rem;
}
.product .time-slots {
  margin-top: 3rem;
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.product .time-slots-info {
  text-align: center;
}
.product .time-slots span {
  color: var(--primary-98);
}
.product .time-slots .slot {
  display: block;
  position: relative;
  font-size: calc(1.2rem + 0.5vw);
  margin: 1rem 0.5rem;
  width: 40%;
  font-size: calc(1.5rem + 1vw);
  text-align: center;
  line-height: 6rem;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  background: var(--primary-60);
  border: 2px solid var(--primary-80);
  color: var(--primary-98);
  border-radius: 6rem;
  transition: all 0.3s linear;
  text-align: center;
}
.product .time-slots input {
  cursor: pointer;
  border-radius: 6rem;
  transition: all 0.3s linear;
}
.product .time-slots input#time-slot-0 {
  visibility: hidden;
}
.product .time-slots input#time-slot-0:checked ~ .time-slot-0 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-1 {
  visibility: hidden;
}
.product .time-slots input#time-slot-1:checked ~ .time-slot-1 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-2 {
  visibility: hidden;
}
.product .time-slots input#time-slot-2:checked ~ .time-slot-2 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-3 {
  visibility: hidden;
}
.product .time-slots input#time-slot-3:checked ~ .time-slot-3 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-4 {
  visibility: hidden;
}
.product .time-slots input#time-slot-4:checked ~ .time-slot-4 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-5 {
  visibility: hidden;
}
.product .time-slots input#time-slot-5:checked ~ .time-slot-5 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-6 {
  visibility: hidden;
}
.product .time-slots input#time-slot-6:checked ~ .time-slot-6 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-7 {
  visibility: hidden;
}
.product .time-slots input#time-slot-7:checked ~ .time-slot-7 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-8 {
  visibility: hidden;
}
.product .time-slots input#time-slot-8:checked ~ .time-slot-8 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-9 {
  visibility: hidden;
}
.product .time-slots input#time-slot-9:checked ~ .time-slot-9 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-10 {
  visibility: hidden;
}
.product .time-slots input#time-slot-10:checked ~ .time-slot-10 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-11 {
  visibility: hidden;
}
.product .time-slots input#time-slot-11:checked ~ .time-slot-11 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-12 {
  visibility: hidden;
}
.product .time-slots input#time-slot-12:checked ~ .time-slot-12 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .time-slots input#time-slot-13 {
  visibility: hidden;
}
.product .time-slots input#time-slot-13:checked ~ .time-slot-13 {
  background: var(--primary-90);
  color: var(--primary-40);
}
.product .customer-info {
  margin-top: 3rem;
  order: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.product .customer-info-info {
  text-align: center;
}
.product .customer-info__input {
  width: 40%;
  margin: 1rem 1rem;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
}
.product .customer-info__input label {
  display: block;
  font-size: calc(1.2rem + 0.5vw);
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
}
.product .customer-info__input input {
  width: 100%;
  height: 4rem;
  padding-left: 1rem;
  border: 2px solid var(--primary-40);
  background: var(--primary-98);
  color: var(--secondary-10);
  border-radius: 3rem;
}
.product .customer-info__input input:focus {
  outline: 3px solid var(--primary-80);
}
.product .submit {
  order: 4;
  margin-top: 3rem;
}
@media screen and (max-width: 600px) {
  .product .time-slots .slot {
    width: 100%;
  }
  .product .time-slots .slot input {
    width: 100%;
  }
  .product .customer-info__input {
    width: 100%;
  }
}

.gallery {
  padding: 6vh 0 0 0;
}
.gallery h2 {
  text-align: center;
  background: linear-gradient(to bottom, var(--primary-98), white);
}
.gallery__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(30rem, 1fr));
  width: 100%;
  height: fit-content;
}
.gallery__content-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__content-image-container img {
  width: 100%;
  height: auto;
  filter: brightness(1.14);
}
.gallery__content-image-container .place_holder {
  width: calc(20rem + 5vw);
  height: auto;
}
@media screen and (max-width: 900px) {
  .gallery__content {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(20rem, 1fr));
  }
}
@media screen and (max-width: 600px) {
  .gallery__content {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
@media screen and (max-width: 400px) {
  .gallery__content {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
  }
}

.booking-form {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}
.booking-form__overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.444);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.booking-form__overlay span {
  z-index: 2;
  display: block;
  width: 6rem;
  height: 6rem;
  margin-left: auto;
  margin-right: 3rem;
  margin-top: 3rem;
  position: relative;
  border-radius: 0.5rem;
  cursor: pointer;
}
.booking-form__overlay span::before, .booking-form__overlay span::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.6rem;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.booking-form__overlay span::after {
  transform: rotate(45deg);
}
.booking-form__overlay span::before {
  transform: rotate(-45deg);
}
.booking-form__content {
  position: absolute;
  top: 0;
  left: 0%;
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
}
.booking-form__content-header {
  position: relative;
  width: 100%;
  height: 15rem;
  padding: 1.4rem 0rem;
}
.booking-form__content-header::after {
  position: absolute;
  top: 0;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.shopify.com/s/files/1/0579/4758/6733/files/cherry-blossom-tree.jpg?v=1640633469");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
}
.booking-form__content-header img {
  position: relative;
  z-index: 2;
  height: 100%;
  width: auto;
  margin: auto;
  display: block;
}
.booking-form__content-header i {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  color: white;
  z-index: 2;
  cursor: pointer;
}
.booking-form__content-step {
  position: relative;
  width: 100%;
}
.booking-form__content-step-1 {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.booking-form__content-step-1.selected {
  left: 0%;
}
.booking-form__content-step-1-heading {
  height: 4.5rem;
  padding: 0.5rem 2rem;
  border-bottom: 1px #cdcdcd solid;
}
.booking-form__content-step-1-heading h2 {
  display: block;
  font-size: 2rem;
  font-weight: 600;
}
.booking-form__content-step-1-option {
  cursor: pointer;
  height: 6.5rem;
  width: 100%;
  border-bottom: 1px #cdcdcd solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.9rem 2rem;
  transition: all 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.booking-form__content-step-1-option:hover {
  background-color: var(--primary-95);
}
.booking-form__content-step-1-option__info .title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-60);
}
.booking-form__content-step-1-option__info small {
  display: block;
  font-size: 1.4rem;
  color: #848484;
  font-family: var(--body-font-family);
  line-height: auto;
}
.booking-form__content-step-1-option i {
  font-size: 1.5rem;
  color: #848484;
}
.booking-form__content-step-2 {
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}
.booking-form__content-step-2.selected {
  left: 0%;
}
.booking-form__content-step-2-heading {
  height: 4.5rem;
  padding: 0.5rem 2rem;
  border-bottom: 1px #cdcdcd solid;
}
.booking-form__content-step-2-heading h2 {
  display: block;
  font-size: 2rem;
  font-weight: 600;
}
.booking-form__content-step-2-option {
  cursor: pointer;
  height: 6.5rem;
  width: 100%;
  border-bottom: 1px #cdcdcd solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.9rem 2rem;
  transition: all 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  position: relative;
  background: transparent;
  z-index: 3;
}
.booking-form__content-step-2-option:hover {
  background-color: var(--primary-95);
}
.booking-form__content-step-2-option__info {
  position: relative;
  z-index: 0;
}
.booking-form__content-step-2-option__info .title {
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  color: black;
  z-index: -1;
}
.booking-form__content-step-2-option i {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  color: #848484;
}
.booking-form__content-step-3 {
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}
.booking-form__content-step-3.selected {
  left: 0%;
}
.booking-form__content-step-3-heading {
  height: 4.5rem;
  padding: 0.5rem 2rem;
  border-bottom: 1px #cdcdcd solid;
}
.booking-form__content-step-3-heading i {
  font-size: 1.6rem;
  line-height: 2rem;
  color: black;
  display: inline-block;
  width: 3rem;
  height: 100%;
  cursor: pointer;
}
.booking-form__content-step-3-heading h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  width: fit-content;
}
.booking-form__content-step-3-option {
  cursor: pointer;
  height: 6.5rem;
  width: 100%;
  border-bottom: 1px #cdcdcd solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.9rem 2rem;
  transition: all 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  position: relative;
  background: transparent;
  z-index: 3;
}
.booking-form__content-step-3-option:hover {
  background-color: var(--primary-95);
}
.booking-form__content-step-3-option__info {
  position: relative;
  z-index: 0;
}
.booking-form__content-step-3-option__info .title {
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  color: black;
  z-index: -1;
}
.booking-form__content-step-3-option i {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  color: #848484;
}
.booking-form__content-step-4 {
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.booking-form__content-step-4.selected {
  left: 0%;
}
.booking-form__content-step-4 .product-btns {
  width: 100%;
}
.booking-form__content-step-4 .product-btns .product-atc {
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: #2f2f2f;
  box-shadow: 0 2px 8px #2f2f2f;
  color: white;
  line-height: 5rem;
  padding: 0 5rem;
  border-radius: 10rem;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 400;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer;
}
.booking-form__content-step-4 .product-btns .product-atc:hover, .booking-form__content-step-4 .product-btns .product-atc:active {
  background-color: #141414;
}
.booking-form__content-step-4 .product-btns .go-to-cart {
  display: block;
  margin: 0 auto;
  border: 2px solid #2f2f2f;
  margin-top: 2rem;
  color: #4c4c4c;
  line-height: 3rem;
  max-height: 5rem;
  padding: 0 10rem;
  border-radius: 10rem;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 400;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer;
}
.booking-form__content-step-4 .product-btns .go-to-cart:hover, .booking-form__content-step-4 .product-btns .go-to-cart:active {
  background-color: #141414;
  color: white;
}
.booking-form__content-step-4-heading {
  height: 4.5rem;
  padding: 0.5rem 2rem;
  border-bottom: 1px #cdcdcd solid;
  width: 100%;
}
.booking-form__content-step-4-heading i {
  font-size: 1.6rem;
  line-height: 2rem;
  color: black;
  display: inline-block;
  width: 3rem;
  height: 100%;
  cursor: pointer;
}
.booking-form__content-step-4-heading h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  width: fit-content;
}
.booking-form__content-step-4-option__info {
  position: relative;
  z-index: 0;
  padding: 4rem 2.5rem 0 2.5rem;
  width: 100%;
}
.booking-form__content-step-4-option__info .product-title {
  position: relative;
  font-size: calc(1.5rem + 1vw);
  font-weight: 600;
  color: black;
  z-index: -1;
  width: 100%;
}
.booking-form__content-step-4-option__info .product-description {
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 400;
  margin-top: 2rem;
}
.booking-form__content-step-4-option i {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  color: #848484;
}
.booking-form__content-step-5 {
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}
.booking-form__content-step-5.selected {
  left: 0%;
}
.booking-form__content-step-5-heading {
  height: 4.5rem;
  padding: 0.5rem 2rem;
  border-bottom: 1px #cdcdcd solid;
  width: 100%;
}
.booking-form__content-step-5-heading i {
  font-size: 1.6rem;
  line-height: 2rem;
  color: black;
  display: inline-block;
  width: 3rem;
  height: 100%;
  cursor: pointer;
}
.booking-form__content-step-5-heading h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  width: fit-content;
}
.booking-form__content-step-5-items {
  position: relative;
  z-index: 0;
  padding: 2rem 2.5rem 0 2.5rem;
  align-self: flex-start;
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
}
.booking-form__content-step-5-items .item-wrapper {
  display: flex;
  justify-content: space-between;
}
.booking-form__content-step-5-items .item-wrapper .title {
  position: relative;
  font-size: calc(1.5rem + 1vw);
  font-weight: 600;
  color: black;
  z-index: -1;
  width: 100%;
}
.booking-form__content-step-5-items .item-wrapper .price {
  font-size: calc(1.5rem + 1vw);
  font-weight: 500;
}
.booking-form__content-step-6 {
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}
.booking-form__content-step-6.selected {
  left: 0%;
}
.booking-form__content-step-6-heading {
  height: 4.5rem;
  padding: 0.5rem 2rem;
  border-bottom: 1px #cdcdcd solid;
  width: 100%;
}
.booking-form__content-step-6-heading #stepBack {
  font-size: 1.6rem;
  line-height: 2rem;
  color: black;
  display: inline-block;
  width: 3rem;
  height: 100%;
  cursor: pointer;
}
.booking-form__content-step-6-heading #calendar {
  font-size: 2.7rem;
  position: relative;
  color: black;
  cursor: pointer;
  width: 4rem;
  z-index: 2;
  line-height: 4rem;
  display: block;
  float: inline-end;
  transition: all 0.3s ease-in-out;
  text-align: center;
  border-radius: 10rem;
}
.booking-form__content-step-6-heading #calendar::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  background-color: var(--primary-60);
  z-index: -1;
  top: -10%;
  left: -10%;
  right: 0;
  width: 120%;
  height: 120%;
  transform: scale(0.2);
  opacity: 0;
  border-radius: 10rem;
  transition: all 0.3s ease-in-out;
}
.booking-form__content-step-6-heading #calendar:hover, .booking-form__content-step-6-heading #calendar:active {
  background-color: var(--primary-95);
  width: 4rem;
  line-height: 4rem;
  color: var(--primary-99);
}
.booking-form__content-step-6-heading #calendar:hover::after, .booking-form__content-step-6-heading #calendar:active::after {
  transform: scale(1.2);
  opacity: 0.6;
}
.booking-form__content-step-6-heading h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  width: fit-content;
}
.booking-form__content-step-6-heading form {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  top: 2rem;
  right: 0rem;
  transform-origin: top;
  perspective-origin: top;
  opacity: 1;
  transform: scaleY(0);
  transition: all 0.6s cubic-bezier(0.45, 0.285, 0.18, 0.43);
}
.booking-form__content-step-6-heading form::after {
  content: "";
  position: absolute;
  top: -1.3rem;
  right: 2rem;
  width: 0rem;
  height: 0rem;
  border: 2rem solid transparent;
  border-bottom: 2rem solid var(--secondary-90);
  border-left: width;
  border-radius: rem;
}
.booking-form__content-step-6-heading form .calendar-container {
  width: 40rem;
  height: min-content;
  padding: 2rem;
}
.booking-form__content-step-6-heading form .calendar-container_content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 2px solid var(--primary-90);
  padding: 1rem;
  background: var(--secondary-90);
  border-radius: 1rem;
}
.booking-form__content-step-6-heading form .calendar-container_content #month {
  grid-column: 1/5;
  font-size: 2rem;
  background: var(--primary-95);
  border: 2px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
}
.booking-form__content-step-6-heading form .calendar-container_content #year {
  grid-column: 6/8;
  font-size: 2rem;
  background: var(--primary-95);
  border: 2px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
}
.booking-form__content-step-6-heading form .calendar-container_content .weekdays {
  font-size: 2.5rem;
  grid-column: 1/8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  font-family: var(--body-font-family);
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 300;
}
.booking-form__content-step-6-heading form .calendar-container_content-days {
  grid-column: 1/8;
  grid-row: 3/9;
  font-size: 2.3rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  background: var(--primary-95);
  padding: 0.4rem;
  border-radius: 1rem;
  position: relative;
  place-items: center;
}
.booking-form__content-step-6-heading form .calendar-container_content-days .day-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.booking-form__content-step-6-heading form .calendar-container_content-days .prev-day {
  display: block;
  font-size: 2rem;
  width: 95%;
  height: 95%;
  text-align: end;
  padding: 0.4rem;
  border-radius: 1rem;
  background: var(--secondary-90);
}
.booking-form__content-step-6-heading form .calendar-container_content-days .day {
  display: block;
  background: var(--secondary-70);
  width: 95%;
  height: 95%;
  text-align: end;
  padding: 0.4rem;
  border-radius: 1rem;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.booking-form__content-step-6-heading form .calendar-container_content-days input[type=radio] {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.booking-form__content-step-6-heading form .calendar-container_content-days input[type=radio]:checked ~ .day {
  position: relative;
  color: blanchedalmond;
  box-shadow: 0px 0px 0.5rem rgba(255, 138, 102, 0.66), 0px 0px 1.5rem rgba(255, 138, 102, 0.66);
  animation: grow 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite both;
  z-index: 2;
}
.booking-form__content-step-6-heading form .calendar-container_content-days .selected {
  background: #950ea4;
  color: blanchedalmond;
  width: 95%;
  height: 95%;
  text-align: end;
  padding: 0.4rem;
  border-radius: 1rem;
  display: block;
  font-size: 2rem;
}
.booking-form__content-step-6-heading form .calendar-container_content-select-days {
  grid-column: 1/8;
  margin: 1rem auto;
}
.booking-form__content-step-6-heading form .calendar-container_content-select-days h2 {
  font-size: 2rem;
}
.booking-form__content-step-6-heading form .calendar-container_content-select-days h2 span {
  font-size: 2rem;
}
.booking-form__content-step-6-heading form.open {
  transform: scaleY(1);
  opacity: 1;
}
.booking-form__content .cart-btns {
  position: absolute;
  bottom: 0rem;
  right: 0;
  left: 0;
  padding-top: 3rem;
  box-shadow: 10rem 20px 50px var(--primary-90), -30rem 10px 70px var(--secondary-80);
  border-radius: 20rem 20rem 0rem 0rem;
  transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.booking-form__content .cart-btns .hide {
  bottom: -15rem;
}
.booking-form__content .cart-btns .set-date {
  display: block;
  margin: 2rem auto 2rem auto;
  background-color: #2f2f2f;
  color: white;
  line-height: 4rem;
  padding: 0 7rem;
  border-radius: 10rem;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 400;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer;
}
.booking-form__content .cart-btns .set-date:hover, .booking-form__content .cart-btns .set-date:active {
  background-color: #141414;
}
.booking-form__content .cart-btns .add-more {
  display: block;
  margin: 0 auto;
  border: 2px solid #2f2f2f;
  color: #4c4c4c;
  line-height: 3rem;
  padding: 0 10rem;
  border-radius: 10rem;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 400;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer;
}
.booking-form__content .cart-btns .add-more:hover, .booking-form__content .cart-btns .add-more:active {
  background-color: #141414;
  color: white;
}
.booking-form.open {
  left: 0;
  transition: all 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.booking-form.open .booking-form__overlay {
  opacity: 1;
  top: 0;
  left: 0;
}

@keyframes grow {
  0% {
    box-shadow: 0px 0px 0rem rgba(255, 138, 102, 0.66), 0px 0px 0rem rgba(255, 138, 102, 0.66);
  }
  50% {
    box-shadow: 0px 0px 1.5rem rgba(255, 83, 31, 0.46), 0px 0px 2.5rem rgba(255, 228, 219, 0.66);
  }
  100% {
    box-shadow: 0px 0px 0rem rgba(255, 138, 102, 0.66), 0px 0px 0rem rgba(255, 138, 102, 0.66);
  }
}
.hero__content, .services__content, .image-with-text__content, .map, .map-page, .newsletter, .footer__content, .cart, .collection, .list-collection__content, .product, .product .extras {
  padding: 6vh 4vw;
}

.hero__content-title, .services__content-title, .map__title, .newsletter h2, .collection h1, .list-collection__content-title, .product h2, .product .time-slots-info, .product .customer-info-info, .gallery h2 {
  font-size: calc(1.5rem + 2vw);
  font-weight: 500;
  padding: 3rem 0rem;
  width: 100%;
  color: var(--primary-30);
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}