*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --secondary-10: hsla(53, 100%, 10%, 1);
  --secondary-20: hsla(53, 100%, 20%, 1);
  --secondary-30: hsla(53, 100%, 30%, 1);
  --secondary-40: hsla(53, 100%, 40%, 1);
  --secondary-50: hsla(53, 100%, 50%, 1);
  --secondary-60: hsla(53, 100%, 60%, 1);
  --secondary-70: hsla(53, 100%, 70%, 1);
  --secondary-80: hsla(53, 100%, 80%, 1);
  --secondary-90: hsla(53, 100%, 90%, 1);
  --secondary-95: hsla(53, 100%, 94.9%, 1);
  --secondary-98: hsla(53, 100%, 98%, 1);
  --secondary-99: hsla(53, 100%, 99%, 1);
  --secondary-10-m: hsla(53, 100%, 10%, 0.78);
  --secondary-20-m: hsla(53, 100%, 20%, 0.78);
  --secondary-30-m: hsla(53, 100%, 30%, 0.78);
  --secondary-40-m: hsla(53, 100%, 40%, 0.78);
  --secondary-50-m: hsla(53, 45.9%, 50%, 0.78);
  --secondary-60-m: hsla(53, 100%, 60%, 0.78);
  --secondary-70-m: hsla(53, 100%, 70%, 0.78);
  --secondary-80-m: hsla(53, 100%, 80%, 0.78);
  --secondary-90-m: hsla(53, 100%, 90%, 0.78);
  --secondary-95-m: hsla(53, 100%, 94.9%, 0.78);
  --secondary-98-m: hsla(53, 100%, 98%, 0.78);
  --secondary-99-m: hsla(53, 100%, 99%, 0.78);
  --primary-10: hsla(302, 100%, 10%, 1);
  --primary-20: hsla(302, 100%, 20%, 1);
  --primary-30: hsla(302, 100%, 30%, 1);
  --primary-40: hsla(302, 100%, 40%, 1);
  --primary-50: hsla(302, 100%, 50%, 1);
  --primary-60: hsla(302, 100%, 60%, 1);
  --primary-70: hsla(302, 100%, 70%, 1);
  --primary-80: hsla(302, 100%, 80%, 1);
  --primary-90: hsla(302, 100%, 90%, 1);
  --primary-95: hsla(302, 100%, 94.9%, 1);
  --primary-98: hsla(300, 100%, 98%, 1);
  --primary-99: hsla(300, 100%, 99%, 1);
  --primary-10-m: hsla(302, 100%, 10%, 0.78);
  --primary-20-m: hsla(302, 100%, 20%, 0.78);
  --primary-30-m: hsla(302, 100%, 30%, 0.78);
  --primary-40-m: hsla(302, 100%, 40%, 0.78);
  --primary-50-m: hsla(302, 100%, 50%, 0.78);
  --primary-60-m: hsla(302, 100%, 60%, 0.78);
  --primary-70-m: hsla(302, 100%, 70%, 0.78);
  --primary-80-m: hsla(302, 100%, 80%, 0.78);
  --primary-90-m: hsla(302, 100%, 90%, 0.78);
  --primary-95-m: hsla(302, 100%, 94.9%, 0.78);
  --primary-98-m: hsla(300, 100%, 98%, 0.78);
  --primary-99-m: hsla(300, 100%, 99%, 0.78);
  --xxsmall: 1rem;
  --xsmall: 1.3rem;
  --small: 1.6rem;
  --medium: 2rem;
  --regular-24: 2.4rem;
  --regular-31: 3.1rem;
  --large: 3.8rem;
  --xlarge: 4.8rem;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-98);
  overflow-x: hidden;
}

a,
a:link,
a:active {
  text-decoration: none;
  color: var(--primary-98);
  background-color: transparent;
  border: none;
}

button,
button:active {
  background-color: transparent;
  border: none;
}

.btn {
  width: 80%;
  padding: 1rem 4rem;
  text-align: center;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 500;
}
.btn.btn-primary {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-80);
  color: var(--secondary-90);
}
.btn.btn-primary:active, .btn.btn-primary:hover {
  transform: scale(1.05);
  color: var(--secondary-80);
  background-color: var(--primary-70);
  border-radius: 1rem;
}

section {
  transition: all 0.7s ease-in-out;
  transform: translateY(0rem);
}

.hide {
  opacity: 0;
  transform: translateY(10rem);
}

.unhide {
  opacity: 1;
}

.lazy {
  filter: blur(10px);
  transition: filter 0.5s ease-in-out;
}

.minus,
.plus {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
}
.minus i,
.plus i {
  position: relative;
  z-index: -1;
}

.is-hidden {
  display: none;
}

.header {
  position: relative;
  height: max-content;
  width: 100%;
  padding: 0 4vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10;
}
.header .overlay {
  display: none;
  position: fixed;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-80-m);
  z-index: -1;
  overflow: hidden;
  transform: translate(100%, 0);
  transition: transform 0.5s ease-in-out;
}
.header .overlay.open {
  transform: translate(0, 0);
  transition: transform 0.5s ease-in-out;
}
.header__logo {
  flex-basis: 100%;
  height: auto;
}
.header__logo img {
  display: block;
  margin: 2rem auto 0 auto;
  height: 15rem;
  width: auto;
}
.header .nav-container {
  height: min-content;
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 2rem;
}
.header .nav-container .navlink__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .nav-container .navlink__container .nav-link,
.header .nav-container .navlink__container .nav-link:link,
.header .nav-container .navlink__container .nav-link:active {
  margin: 0 calc(2rem + 2vw);
  font-size: calc(1.2rem + 0.5vw);
  color: var(--primary-50);
}
.header .nav-container .navlink__container .nav-link-active,
.header .nav-container .navlink__container .nav-link-active:link,
.header .nav-container .navlink__container .nav-link-active:active {
  margin: 0 calc(2rem + 2vw);
  font-size: calc(1.2rem + 0.5vw);
  color: var(--secondary-50);
}
.header .cart-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: block;
  margin-left: auto;
  width: 5rem;
  height: auto;
}
.header .hamburger-button {
  display: none;
  position: absolute;
  top: 7rem;
  right: 0.5rem;
  width: 5rem;
  height: 5rem;
  padding: 1rem 1rem;
  background-color: var(--primary-80);
  border-radius: 1rem;
  z-index: 1;
  cursor: pointer;
}
.header .hamburger-button .lines,
.header .hamburger-button .lines::after,
.header .hamburger-button .lines::before {
  display: block;
  position: relative;
  top: 0rem;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 0.4rem;
  background-color: var(--primary-50);
  transition: all 0.5s ease-in-out;
}
.header .hamburger-button .lines::after {
  position: absolute;
  content: "";
  top: 1.25rem;
  transition: all 0.5s ease-in-out;
}
.header .hamburger-button .lines::before {
  position: absolute;
  content: "";
  top: 2.5rem;
  transition: all 0.5s ease-in-out;
}
.header .hamburger-button.open .lines {
  background-color: transparent;
}
.header .hamburger-button.open .lines::after {
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}
.header .hamburger-button.open .lines::before {
  transform: rotate(-45deg);
  transition: all 0.5s ease-in-out;
}
.header .hamburger-button.open .lines::after, .header .hamburger-button.open .lines::before {
  top: 1.25rem;
}
@media screen and (max-width: 900px) {
  .header .overlay {
    display: block;
  }
  .header .overlay .open {
    overflow: hidden;
  }
  .header .header__logo img {
    height: 10rem;
  }
  .header .nav-container {
    overflow-x: hidden;
    height: 0;
  }
  .header .nav-container.open {
    overflow-x: visible;
  }
  .header .nav-container .navlink__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    transform: translate(100%, 0);
    transition: transform 0.5s ease-in-out;
  }
  .header .nav-container .navlink__container .nav-link,
.header .nav-container .navlink__container .nav-link:active,
.header .nav-container .navlink__container .nav-link:link {
    font-size: calc(1.5rem + 1vw);
    color: var(--primary-99);
    margin: 3rem 0;
  }
  .header .nav-container .navlink__container .nav-link-active,
.header .nav-container .navlink__container .nav-link-active:active,
.header .nav-container .navlink__container .nav-link-active:link {
    font-size: calc(1.5rem + 1vw);
    color: var(--secondary-90);
    margin: 3rem 0;
  }
  .header .nav-container .navlink__container.open {
    position: fixed;
    overflow: hidden;
    transform: translate(0, 0);
    transition: transform 0.5s ease-in-out;
  }
  .header .cart-icon {
    position: fixed;
    bottom: 0;
    top: 1rem;
    right: 0.5rem;
  }
  .header .hamburger-button {
    position: fixed;
    display: block;
  }
}

.hero {
  width: 100%;
}
.hero__content {
  height: 80vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}
.hero__content-title {
  font-size: calc(1.5rem + 1vw);
  width: 100%;
  text-align: center;
  color: var(--primary-80);
}
.hero__content-cards {
  margin-top: 5rem;
  padding: 0 5rem;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
.hero__content-cards-card {
  width: calc(30rem + 5vw);
  max-width: 100rem;
  height: min-content;
  max-height: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-99);
  padding: 3rem 3rem;
  box-shadow: 0 18px 17px -12px rgba(0, 0, 0, 0.25);
}
.hero__content-cards-card h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-size: calc(1.2rem + 0.5vw);
  color: var(--primary-40);
}
.hero .svg-illustration {
  position: absolute;
  z-index: -1;
  margin: 0 auto;
  height: auto;
  width: 30%;
  bottom: 5%;
  right: 35%;
}
.hero #flowerHead-1 {
  stroke-width: 1;
  stroke: var(--primary-90);
  stroke-dasharray: 180;
  stroke-dashoffset: 0;
  animation: flowerHead 10s linear forwards infinite;
}
.hero .svg-divider {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.hero .svg-divider path {
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 900px) {
  .hero {
    height: 80vh;
  }
  .hero__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .hero__content-cards {
    margin-top: 0rem;
    display: flex;
    height: 100%;
    padding: 0 0;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .hero__content-cards-card {
    width: 100%;
    max-width: none;
    background-color: var(--secondary-99-m);
  }
  .hero .svg-illustration {
    bottom: -6vh;
    width: 80%;
    right: 10%;
    height: 95%;
  }
  .hero .svg-divider {
    bottom: -6vh;
    z-index: -1;
    transform: scaleX(2);
    height: auto;
  }
}

@keyframes flowerHead {
  0% {
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dashoffset: 180;
  }
  50% {
    stroke-dashoffset: 360;
  }
  75% {
    stroke-dashoffset: 180;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.services {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-98);
  overflow: hidden;
}
.services__content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.services__content-title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: calc(1.5rem + 2vw);
  color: var(--primary-40);
}
.services__content-options {
  width: calc(90rem + 10vw);
}
.services__content-options button {
  margin-bottom: 2rem;
  width: 100%;
  height: calc(8rem + 1vw);
}
.services__content-options-btn.btn.btn-primary {
  background-color: var(--primary-90-m);
  color: var(--secondary-98);
}
.services__flower-head-1 {
  position: absolute;
  top: 10%;
  left: 0;
  width: calc(10rem + 5vw);
  height: auto;
  animation: 5s levitate cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite forwards;
}
.services__flower-head-2 {
  position: absolute;
  bottom: -5rem;
  left: -10rem;
  animation: 5.4s levitate cubic-bezier(0.445, 0.05, 0.55, 0.95) 3s infinite forwards;
}
.services__flower-head-3 {
  position: absolute;
  top: 20%;
  right: -15rem;
  width: calc(30rem + 5vw);
  height: auto;
  animation: 7s levitate cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite reverse;
}

@keyframes levitate {
  0% {
    transform: translateY(0rem) rotate(0deg);
  }
  50% {
    transform: translateY(10rem) rotate(180deg);
  }
  100% {
    transform: translateY(0rem) rotate(360deg);
  }
}
.image-with-text {
  background-color: var(--primary-95);
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.image-with-text__content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.image-with-text__content-title {
  flex-basis: 50%;
  text-align: left;
  font-size: calc(1.5rem + 2vw);
  color: var(--primary-20);
}
.image-with-text__content-list {
  flex-basis: 40%;
}
.image-with-text__content-list ul li {
  margin: 7rem 0;
  text-decoration: none;
  list-style: none;
  font-size: calc(1.5rem + 1vw);
  color: var(--primary-20);
}
.image-with-text__svg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: calc(-30rem - 5vw);
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .image-with-text {
    overflow-y: hidden;
  }
  .image-with-text__content {
    flex-wrap: wrap;
  }
  .image-with-text__content-title {
    flex-basis: 100%;
    text-align: center;
  }
  .image-with-text__content-list {
    text-align: center;
  }
  .image-with-text__svg {
    transform: rotate(90deg);
    left: 0;
    top: -23rem;
    width: 100%;
    height: 90%;
  }
}
@media screen and (max-width: 600px) {
  .image-with-text__svg {
    width: 100%;
    height: 60%;
  }
}

.map {
  min-height: 70rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary-99);
}
.map__title {
  width: 100%;
  text-align: center;
  font-size: calc(1.5rem + 5vw);
  color: var(--primary-90);
}
.map__content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.map__content-container {
  width: calc(40rem + 5vw);
}
.map__content-info {
  margin-left: 4rem;
  width: calc(45rem + 5vw);
  height: 100%;
  color: var(--primary-80);
}
.map__content-info h3 {
  display: block;
  margin-bottom: 4rem;
  font-size: calc(1.5rem + 2vw);
}
.map__content-info p {
  font-size: calc(1.5rem + 1vw);
}
.map__content #map {
  height: 50rem;
  width: 50rem;
}
@media screen and (max-width: 900px) {
  .map__content {
    flex-wrap: wrap;
  }
  .map__content-contatiner {
    width: 100%;
  }
  .map__content #map {
    width: 100%;
    height: 40rem;
  }
  .map__content-info {
    margin-left: 0;
    margin-top: 4rem;
  }
  .map__content-info h3 {
    margin-bottom: 1rem;
  }
}

.newsletter {
  width: 100%;
  height: min-content;
  position: relative;
}
.newsletter .svg-illustration {
  position: absolute;
  height: 60%;
  width: auto;
  bottom: 0;
  right: 5rem;
  z-index: -1;
}
.newsletter h2 {
  width: 100%;
  text-align: center;
  font-size: calc(1.5rem + 2vw);
}
.newsletter p {
  width: 100%;
  text-align: left;
  font-size: calc(1.5rem + 1vw);
}
.newsletter form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.newsletter form .newsletter__first-name {
  width: 45%;
}
.newsletter form .newsletter__first-name label {
  display: block;
  font-size: calc(1.2rem + 0.5vw);
}
.newsletter form .newsletter__first-name input {
  width: 100%;
  height: 5rem;
}
.newsletter form .newsletter__last-name {
  width: 45%;
}
.newsletter form .newsletter__last-name label {
  display: block;
  font-size: calc(1.2rem + 0.5vw);
}
.newsletter form .newsletter__last-name input {
  width: 100%;
  height: 5rem;
}
.newsletter form .newsletter__email {
  width: 45%;
}
.newsletter form .newsletter__email label {
  display: block;
  font-size: calc(1.2rem + 0.5vw);
}
.newsletter form .newsletter__email input {
  width: 100%;
  height: 5rem;
}
.newsletter form .newsletter__submit {
  width: 100%;
  height: 100%;
}
.newsletter form .newsletter__submit input {
  display: block;
  margin: 0 auto;
  border: none;
  text-align: center;
  height: 5rem;
  width: calc(30rem + 5vw);
  margin-top: 3rem;
}
@media screen and (max-width: 600px) {
  .newsletter form .newsletter__first-name {
    width: 100%;
  }
  .newsletter form .newsletter__last-name {
    width: 100%;
  }
  .newsletter form .newsletter__email {
    width: 100%;
  }
}

.footer {
  min-height: 30rem;
  width: 100%;
  background-color: var(--secondary-95);
}
.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.footer__content-logo {
  width: auto;
  height: 15rem;
}
.footer__content-nav {
  display: flex;
  flex-direction: column;
}
.footer__content-nav h2 {
  width: max-content;
  margin: 0 auto;
  display: block;
  font-size: calc(1.5rem + 1vw);
  color: var(--primary-80);
}
.footer__content-nav-link, .footer__content-nav-link:active, .footer__content-nav-link:link {
  width: max-content;
  margin: 0 auto;
  display: block;
  font-size: calc(1.2rem + 0.5vw);
  color: var(--primary-80);
}
.footer__content-socials {
  align-self: flex-start;
}
.footer__content-socials h2 {
  width: max-content;
  margin: 0 auto;
  display: block;
  font-size: calc(1.5rem + 1vw);
  color: var(--primary-80);
}
.footer__content-socials a,
.footer__content-socials a:link,
.footer__content-socials a:active {
  margin: 0 auto;
  width: max-content;
  color: var(--primary-80);
  transition: color 0.3s ease-in-out;
}
.footer__content-socials a svg,
.footer__content-socials a:link svg,
.footer__content-socials a:active svg {
  height: calc(2rem + 1vw);
  width: auto;
}
.footer__content-socials a:hover,
.footer__content-socials a:link:hover,
.footer__content-socials a:active:hover {
  color: var(--secondary-70);
}
.footer__bottom_content {
  width: 100%;
  min-height: 5rem;
}
.footer__bottom_content .icon {
  width: 5rem;
  height: auto;
}
.footer__bottom_content .copyright-content {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: calc(1rem + 0.5vw);
}
.footer__bottom_content .copyright-content a,
.footer__bottom_content .copyright-content a:active,
.footer__bottom_content .copyright-content a:link {
  color: var(--primary-80);
}
@media screen and (max-width: 600px) {
  .footer__content-nav {
    width: 100%;
    margin-top: 2rem;
  }
  .footer__content-nav h2 {
    font-size: calc(1.5rem + 2vw);
  }
  .footer__content-nav-link, .footer__content-nav-link:link, .footer__content-nav-link:active {
    font-size: calc(1.5rem + 1vw);
  }
  .footer__content-socials {
    margin-top: 2rem;
  }
  .footer__content-socials h2 {
    font-size: calc(1.5rem + 2vw);
  }
  .footer__content-socials a,
.footer__content-socials a:link,
.footer__content-socials a:active {
    display: block;
  }
}

.collection {
  width: 100%;
  height: min-content;
  background-color: var(--secondary-98);
}
.collection h1 {
  text-align: center;
  font-size: calc(1.5rem + 5vw);
}
.collection__content {
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: calc(40rem + 5vw);
}
.collection__content-product, .collection__content-product:active, .collection__content-product:link {
  display: flex;
  width: 30rem;
  height: 30rem;
  background-color: var(--primary-90);
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-radius: 10px;
}
.collection__content-product h2, .collection__content-product:active h2, .collection__content-product:link h2 {
  font-size: calc(1.5rem + 1vw);
  display: block;
}

.list-collection {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 20rem;
}
.list-collection__content {
  z-index: 2;
}
.list-collection__content-title {
  font-size: calc(1.5rem + 2vw);
  text-align: center;
}
.list-collection__content-collections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.list-collection__content-collections a,
.list-collection__content-collections a:link,
.list-collection__content-collections a:active {
  width: 80%;
  margin-top: 2rem;
  padding: 4rem 0;
  font-size: calc(1.5rem + 1vw);
  color: var(--secondary-95);
}
.list-collection .services__flower-head-1, .list-collection .services__flower-head-2, .list-collection .services__flower-head-3 {
  z-index: -1;
}

.hero__content, .services__content, .image-with-text__content, .map, .newsletter, .footer__content, .list-collection__content {
  padding: 6vh 4vw;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}