@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.product {
  @extend %sec-padding;
  #bookingForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  h2 {
    @extend %sec-heading;

    text-align: center;
  }
  .custom-select {
    order: 1;
    display: block;
    position: relative;
    margin: 0 auto;
    width: calc(25rem + 15vw);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: "";
    cursor: pointer;
    &:hover::before {
      color: rgba(255, 255, 255, 0.6);
      background-color: var(--primary-40);
    }
    i {
      position: absolute;
      right: 1.4rem;
      top: 1.5rem;

      font-size: 2.5rem;
      color: var(--secondary-95);
    }
    .day-selection {
      border-radius: 3rem;
      cursor: pointer;
      background-color: var(--primary-70);
      color: white;
      padding: 0.5rem 0.5rem;
      width: 100%;
      border: none;
      font-size: font-size(regular);
      text-align: center;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      font-family: var(--font-heading-family);
      font-style: var(--font-heading-style);
      font-weight: var(--font-heading-weight);
      height: 6rem;
    }
  }
  .time-slots {
    margin-top: 3rem;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    &-info {
      @extend %sec-heading;
      text-align: center;
    }
    span {
      color: var(--primary-98);
    }
    .slot {
      display: block;
      position: relative;
      font-size: font-size(small);
      padding: 0.5rem 0.5rem;
      margin: 1rem 0.5rem;
      width: 40%;
      height: 6rem;

      text-align: center;
      input {
        z-index: 2;
        cursor: pointer;
        appearance: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: var(--primary-60);
        border: 2px solid var(--primary-80);
        border-radius: 6rem;
        transition: all 0.3s linear;
        &:checked {
          background: var(--secondary-80);
        }
        &:checked::after {
          color: var(--primary-40);
        }
        &::after {
          z-index: -1;
          display: block;
          content: attr(data-text);
          font-size: font-size(regular);
          text-align: center;
          line-height: 6rem;
          width: 100%;
          height: 100%;
          font-family: var(--font-heading-family);
          font-style: var(--font-heading-style);
          font-weight: var(--font-heading-weight);
          // padding: 0.5rem 1rem;
          color: var(--primary-98);
        }
      }
    }
  }
  .customer-info {
    margin-top: 3rem;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    &-info {
      @extend %sec-heading;
      text-align: center;
    }
    &__input {
      width: 40%;
      margin: 1rem 1rem;
      font-family: var(--font-heading-family);
      font-style: var(--font-heading-style);

      label {
        display: block;
        font-size: font-size(small);
        font-family: var(--font-heading-family);
        font-style: var(--font-heading-style);
      }
      input {
        width: 100%;
        height: 4rem;
        padding-left: 1rem;
        border: 2px solid var(--primary-40);
        background: var(--primary-98);
        color: var(--secondary-10);
        border-radius: 3rem;
        &:focus {
          outline: 3px solid var(--primary-80);
        }
      }
    }
  }
  .submit {
    order: 4;
    margin-top: 3rem;
  }
  @include media-medium {
    .time-slots {
      .slot {
        width: 100%;
      }
    }
    .customer-info {
      &__input {
        width: 100%;
      }
    }
  }
}
