.booking-form {
  position: fixed;
  top: 0;
  left: -140%;
  width: 100vw;
  height: 100vh;
  //   background-color: white;
  overflow: hidden;
  z-index: 10;
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.444);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    span {
      z-index: 2;
      display: block;
      width: 6rem;
      height: 6rem;
      margin-left: auto;
      margin-right: 3rem;
      margin-top: 3rem;
      position: relative;
      //   background-color: black;
      border-radius: 0.5rem;
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        display: block;

        width: 100%;
        height: 0.6rem;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(-45deg);
      }
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    // align-items: center;
    &-header {
      position: relative;
      width: 100%;
      height: 15rem;
      padding: 1.4rem 0rem;
      &::after {
        position: absolute;
        top: 0;
        z-index: 1;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("https://cdn.shopify.com/s/files/1/0579/4758/6733/files/cherry-blossom-tree.jpg?v=1640633469");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(0.5);
      }
      img {
        position: relative;
        z-index: 2;
        height: 100%;
        width: auto;
        margin: auto;
        display: block;
      }
      i {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 2rem;
        color: white;
        z-index: 2;
        cursor: pointer;
      }
    }
    &-step {
      position: relative;
      width: 100%;
      &-1 {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        &.selected {
          left: 0%;
        }
        &-heading {
          height: 4.5rem;
          padding: 0.5rem 2rem;
          border-bottom: 1px rgb(205, 205, 205) solid;
          h2 {
            display: block;
            font-size: 2rem;
            font-weight: font-weight(bold);
          }
        }
        &-option {
          cursor: pointer;
          height: 6.5rem;
          width: 100%;
          border-bottom: 1px rgb(205, 205, 205) solid;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem 2rem 0.9rem 2rem;
          transition: all 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
          &:hover {
            background-color: var(--primary-95);
          }
          &__info {
            .title {
              font-size: 2rem;
              font-weight: font-weight(bold);
              color: var(--primary-60);
            }
            small {
              display: block;
              font-size: 1.4rem;
              color: rgb(132, 132, 132);
              font-family: var(--body-font-family);
              line-height: auto;
            }
          }
          i {
            font-size: 1.5rem;
            color: rgb(132, 132, 132);
          }
        }
      }
      &-2 {
        transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);

        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        &.selected {
          left: 0%;
        }
        &-heading {
          height: 4.5rem;
          padding: 0.5rem 2rem;
          border-bottom: 1px rgb(205, 205, 205) solid;
          h2 {
            display: block;
            font-size: 2rem;
            font-weight: font-weight(bold);
          }
        }
        &-option {
          cursor: pointer;
          height: 6.5rem;
          width: 100%;
          border-bottom: 1px rgb(205, 205, 205) solid;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem 2rem 0.9rem 2rem;
          transition: all 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
          position: relative;
          background: transparent;
          z-index: 3;

          &:hover {
            background-color: var(--primary-95);
          }
          &__info {
            position: relative;
            z-index: 0;
            .title {
              position: relative;
              font-size: 2rem;
              font-weight: font-weight(regular);
              color: black;
              z-index: -1;
            }
          }
          i {
            position: relative;
            z-index: 1;
            font-size: 1.5rem;
            color: rgb(132, 132, 132);
          }
        }
      }
      &-3 {
        transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);

        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 75vh;
        overflow-y: scroll;
        &.selected {
          left: 0%;
        }

        &-heading {
          height: 4.5rem;
          padding: 0.5rem 2rem;
          border-bottom: 1px rgb(205, 205, 205) solid;
          i {
            font-size: 1.6rem;
            line-height: 2rem;
            color: black;
            display: inline-block;
            width: 3rem;
            height: 100%;
            cursor: pointer;
          }
          h2 {
            display: inline-block;
            font-size: 2rem;
            font-weight: font-weight(bold);
            width: fit-content;
            cursor: pointer;
          }
        }
        &-option {
          cursor: pointer;
          height: 6.5rem;
          width: 100%;
          border-bottom: 1px rgb(205, 205, 205) solid;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem 2rem 0.9rem 2rem;
          transition: all 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
          position: relative;
          background: transparent;
          z-index: 3;

          &:hover {
            background-color: var(--primary-95);
          }
          &.hide {
            opacity: 0;
            transform: translateY(0rem);
          }
          &__info {
            position: relative;
            z-index: 0;
            .title {
              position: relative;
              font-size: 2rem;
              font-weight: font-weight(regular);
              color: black;
              z-index: -1;
            }
          }
          i {
            position: relative;
            z-index: 1;
            font-size: 1.5rem;
            color: rgb(132, 132, 132);
          }
        }
      }
      &-4 {
        transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);

        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        &.selected {
          left: 0%;
        }
        .product-btns {
          width: 100%;
          .product-atc {
            position: relative;
            z-index: 3;
            display: block;
            margin: 0 auto;
            margin-top: 5rem;
            background-color: rgb(47, 47, 47);
            box-shadow: 0 2px 8px rgb(47, 47, 47);
            color: white;
            line-height: 5rem;
            padding: 0 5rem;
            border-radius: 10rem;
            font-size: font-size(small);
            font-weight: font-weight(regular);
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            cursor: pointer;
            &:hover,
            &:active {
              background-color: rgb(20, 20, 20);
            }
          }
          .go-to-cart {
            position: relative;
            z-index: 1;
            display: block;
            margin: 0 auto;
            // background-color: rgb(47, 47, 47);
            border: 2px solid rgb(47, 47, 47);

            margin-top: 2rem;
            color: rgb(76, 76, 76);
            line-height: 3rem;
            max-height: 5rem;
            padding: 0 10rem;
            border-radius: 10rem;
            font-size: font-size(small);
            font-weight: font-weight(regular);
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            cursor: pointer;
            &:hover,
            &:active {
              background-color: rgb(20, 20, 20);
              color: white;
            }
            &.hide {
              z-index: -1;
              opacity: 0;
              transform: translateY(20rem);
              cursor: default;
            }
          }
          .cart-success {
            display: block;
            position: relative;
            opacity: 0;
            padding: 1rem;
            margin: -5rem auto 0 auto;
            width: fit-content;
            font-size: font-size(small);
            color: green;
            transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

            i {
              color: green;
            }
            &.show {
              margin: 0rem auto 0 auto;

              opacity: 1;
            }
          }
          .cart-error {
            display: block;
            position: relative;
            opacity: 0;
            padding: 1rem;
            margin: -5rem auto 0 auto;
            width: fit-content;
            font-size: font-size(small);
            color: red;
            transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);

            i {
              color: red;
            }
            &.show {
              margin: 0rem auto;
              opacity: 1;
            }
          }
        }
        &-heading {
          height: 4.5rem;
          padding: 0.5rem 2rem;
          border-bottom: 1px rgb(205, 205, 205) solid;
          width: 100%;
          i {
            font-size: 1.6rem;
            line-height: 2rem;
            color: black;
            display: inline-block;
            width: 3rem;
            height: 100%;
            cursor: pointer;
          }
          h2 {
            display: inline-block;
            font-size: 2rem;
            font-weight: font-weight(bold);
            width: fit-content;
          }
        }
        &-option {
          &__info {
            position: relative;
            z-index: 0;
            padding: 4rem 2.5rem 0 2.5rem;
            // display: flex;
            width: 100%;
            // flex-wrap: wrap;
            // height: 82vh;
            .product-title {
              position: relative;
              font-size: font-size(regular);
              font-weight: font-weight(bold);
              color: black;
              z-index: -1;
              width: 100%;
            }
            .product-description {
              font-size: font-size(small);
              font-weight: font-weight(regular);
              margin-top: 2rem;
            }
          }
          &__staff {
            position: relative;
            z-index: 0;
            padding: 4rem 2.5rem 2rem 2.5rem;
            // display: flex;
            width: 100%;
            h4 {
              font-size: font-size(small);
            }
            .custom-select {
              width: 100%;
              select {
                width: 100%;
                height: 3rem;
                font-size: 1.5rem;
                background: white;
                border: none;
                border-bottom: 1px solid grey;
                cursor: pointer;
                transition: all 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
                option {
                  transition: all 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
                  cursor: pointer;
                }
                &:focus {
                  border-bottom: 2px solid grey;
                }
                option:nth-of-type(1) {
                  color: grey;
                  cursor: pointer;
                }
                option:active,
                option:focus {
                  background-color: rgb(224, 224, 224);
                }
              }
            }
          }
          i {
            position: relative;
            z-index: 1;
            font-size: 1.5rem;
            color: rgb(132, 132, 132);
          }
        }
      }
      &-5 {
        transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);

        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;

        // height: 50vh;

        &.selected {
          left: 0%;
        }
        .loading-svg {
          width: 100%;
          height: 100%;
          // position: absolute;
          top: 0;
        }

        &-heading {
          height: 4.5rem;
          padding: 0.5rem 2rem;
          border-bottom: 1px rgb(205, 205, 205) solid;
          width: 100%;
          i {
            font-size: 1.6rem;
            line-height: 2rem;
            color: black;
            display: inline-block;
            width: 3rem;
            height: 100%;
            cursor: pointer;
          }
          h2 {
            display: inline-block;
            font-size: 2rem;
            font-weight: font-weight(bold);
            width: fit-content;
          }
        }
        &-items {
          position: relative;
          z-index: 0;
          padding: 2rem 2.5rem 0 2.5rem;
          align-self: flex-start;
          width: 100%;
          // flex-wrap: wrap;
          min-height: 40vh;
          height: 50vh;
          max-height: 60vh;
          overflow-y: scroll;
          .item-wrapper {
            display: flex;
            justify-content: space-between;
            .title {
              position: relative;
              width: 80%;
              display: flex;
              flex-wrap: wrap;
              h2 {
                font-size: font-size(regular);
                font-weight: font-weight(bold);
                color: black;
                z-index: -1;
                width: 100%;
              }
              .item-remove {
                position: relative;
                right: 0;
                top: 0;
                font-size: font-size(small);
                width: fit-content;
                padding: 0 2rem;
                color: black;
                border: 2px black solid;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:active,
                &:hover {
                  color: white;
                  background-color: black;
                }
              }
              .item-quantity {
                display: inline-block;
                font-size: font-size(small);
                width: fit-content;
                padding: 0 2rem;
              }
            }

            .price {
              font-size: font-size(regular);
              font-weight: font-weight(semibold);
            }
          }
        }
        // i {
        //   position: relative;
        //   z-index: 1;
        //   font-size: 1.5rem;
        //   color: rgb(132, 132, 132);
        // }
      }
      &-6 {
        transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);

        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;

        &.selected {
          left: 0%;
        }
        &-heading {
          height: 4.5rem;
          padding: 0.5rem 2rem;
          border-bottom: 1px rgb(205, 205, 205) solid;
          width: 100%;
          #stepBack {
            font-size: 1.6rem;
            line-height: 2rem;
            color: black;
            display: inline-block;
            width: 3rem;
            height: 100%;
            cursor: pointer;
          }
          #calendar {
            font-size: 2.7rem;
            position: relative;
            color: black;
            cursor: pointer;
            width: 4rem;
            z-index: 2;
            line-height: 4rem;
            display: block;
            float: inline-end;
            transition: all 0.3s ease-in-out;
            text-align: center;
            border-radius: 10rem;
            &::after {
              content: "";
              display: block;
              position: absolute;
              margin: auto;
              background-color: var(--primary-60);
              z-index: -1;
              top: -10%;
              left: -10%;
              right: 0;
              width: 120%;
              height: 120%;
              transform: scale(0.2);
              opacity: 0;
              border-radius: 10rem;
              transition: all 0.3s ease-in-out;
            }
            &:hover,
            &:active {
              background-color: var(--primary-95);
              width: 4rem;
              line-height: 4rem;
              color: var(--primary-99);
            }
            &:hover::after,
            &:active::after {
              transform: scale(1.2);
              opacity: 0.6;
            }
          }
          h2 {
            display: inline-block;
            font-size: 2rem;
            font-weight: font-weight(bold);
            width: fit-content;
          }
          form {
            position: absolute;
            display: block;
            width: auto;
            height: auto;
            top: 2rem;
            right: 0rem;
            transform-origin: top;
            perspective-origin: top;
            opacity: 1;
            transform: scaleY(0);
            transition: all 0.6s cubic-bezier(0.45, 0.285, 0.18, 0.43);
            &::after {
              content: "";
              position: absolute;
              top: -1.3rem;
              right: 2rem;
              width: 0rem;
              height: 0rem;
              border: 2rem solid transparent;
              border-bottom: 2rem solid var(--secondary-90);
              border-left: width;
              border-radius: rem;
              // background-color: var(--primary-60);
            }
            .calendar-container {
              // flex-basis: 39rem;
              width: 40rem;
              height: min-content;
              padding: 2rem;
              &_content {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: repeat(8, 1fr);
                border: 2px solid var(--primary-90);
                padding: 1rem;
                background: var(--secondary-90);
                border-radius: 1rem;
                #previousMonth {
                  grid-column: 1 / 2;
                  place-self: center;
                  font-size: 2.3rem;
                  cursor: pointer;
                }
                #month {
                  grid-column: 2 / 7;
                  font-size: 2rem;
                  background: var(--primary-95);
                  border: 2px solid transparent;
                  border-radius: 1rem;
                  padding: 1rem;
                }
                #nextMonth {
                  place-self: center;
                  grid-column: 7 / 8;
                  font-size: 2.3rem;
                  cursor: pointer;
                }
                .weekdays {
                  font-size: 2.5rem;
                  grid-column: 1/ 8;
                  display: grid;
                  grid-template-columns: repeat(7, 1fr);
                  place-items: center;
                  font-family: var(--body-font-family);
                  font-size: font-size(small);
                  font-weight: font-weight(light);
                }
                &-days {
                  grid-column: 1 / 8;
                  grid-row: 3 / 9;
                  font-size: 2.3rem;
                  display: grid;
                  grid-template-columns: repeat(7, 1fr);
                  grid-template-rows: repeat(auto-fit, 1fr);
                  // border: 2px solid hsl(294, 84%, 41%);
                  background: var(--primary-95);
                  padding: 0.4rem;
                  border-radius: 1rem;
                  position: relative;
                  place-items: center;
                  .day-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                  }
                  .prev-day {
                    display: block;

                    // background: hsla(294, 84%, 91%, 0.6);
                    font-size: 2rem;
                    width: 95%;
                    height: 95%;
                    text-align: end;
                    padding: 0.4rem;
                    border-radius: 1rem;
                    background: var(--secondary-90);
                  }
                  .day {
                    display: block;
                    background: var(--secondary-70);
                    width: 95%;
                    height: 95%;
                    text-align: end;
                    padding: 0.4rem;
                    border-radius: 1rem;
                    font-size: 2rem;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                  }
                  input[type="radio"] {
                    visibility: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                  }
                  input[type="radio"]:checked ~ .day {
                    // background: var(--secondary-40);
                    position: relative;
                    color: blanchedalmond;
                    box-shadow: 0px 0px 0.5rem hsla(14.1, 100%, 70%, 0.66),
                      0px 0px 1.5rem hsla(14.1, 100%, 70%, 0.66);
                    animation: grow 2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
                      infinite both;
                    z-index: 2;
                  }

                  .selected {
                    background: hsl(294, 84%, 35%);
                    color: blanchedalmond;
                    width: 95%;
                    height: 95%;
                    text-align: end;
                    padding: 0.4rem;
                    border-radius: 1rem;
                    display: block;
                    font-size: 2rem;
                  }
                }
                &-select-days {
                  grid-column: 1 / 8;
                  // grid-row: ;

                  margin: 1rem auto;
                  h2 {
                    font-size: 2rem;

                    span {
                      font-size: 2rem;
                    }
                  }
                }
              }
            }
            &.open {
              transform: scaleY(1);
              opacity: 1;
            }
          }
        }
        &-month {
          height: 5rem;
          width: 100%;
          border-bottom: 1px solid #cdcdcd;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          i {
            font-size: 1.4rem;
            cursor: pointer;
          }
          .date-month {
            font-size: 2.4rem;
          }
        }
        &-day {
          height: 5rem;
          width: 100%;
          border-bottom: 1px solid #cdcdcd;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          i {
            font-size: 1.4rem;
            cursor: pointer;
          }
          .date-day {
            font-size: 2.4rem;
          }
        }
        &-time {
          height: 70%;
          .calendar-icon {
            display: block;
            margin: 10rem auto;
            width: 20rem;
            height: auto;
            img {
              width: 100%;
              height: auto;
            }
            span {
              display: block;
              font-size: font-size(regular);
              width: 100%;
              text-align: center;
            }
            &.hide {
              opacity: 0;
              display: none;
            }
          }
          form {
            overflow: scroll;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 2rem;
            height: 50vh;
            .morning,
            .evening,
            .afternoon {
              font-size: font-size(small);
              width: 100%;
              text-align: center;
              margin-bottom: 1rem;
            }
            .time-slot-container {
              width: 80%;
              display: flex;
              justify-content: center;
              input {
                display: none;
              }
              label {
                display: block;
                width: 80%;
                text-align: center;
                font-size: font-size(regular);
                border: 1px black solid;
                border-radius: 5rem;
                margin: 1rem 0;
                cursor: pointer;
              }
              input:checked ~ label {
                background-color: black;
                color: white;
              }
              input:disabled ~ label {
                display: none;
                background-color: grey;
                color: white;
              }
            }
          }
          .select-time {
            &-btn {
              display: block;
              margin: 0rem auto 0 auto;
              padding: 1rem 3rem;
              background-color: black;
              color: white;
              cursor: pointer;
              border-radius: 5rem;
              transition: all 0.3s ease-in-out;
              &.hidden {
                transform: translateY(10rem);
              }
              &:hover,
              &:active {
                background-color: rgb(32, 32, 32);
              }
            }
          }
        }
      }
      &-7 {
        transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);

        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 80vh;
        overflow-y: scroll;
        &.selected {
          left: 0%;
        }
        &-heading {
          height: 4.5rem;
          padding: 0.5rem 2rem;
          border-bottom: 1px rgb(205, 205, 205) solid;
          width: 100%;
          h2 {
            display: inline-block;
            font-size: 2rem;
            font-weight: font-weight(bold);
            width: fit-content;
          }
        }
        &-location,
        &-date,
        &-time,
        &-staff {
          height: 4.5rem;
          padding: 0.5rem 2rem;
          border-bottom: 1px rgb(205, 205, 205) solid;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          div {
            font-size: 2rem;
            font-weight: font-weight(regular);
            &:nth-of-type(2) {
              color: blue;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        &-items {
          padding: 2rem 3rem;
          .items-heading {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(214, 214, 214);
            span {
              font-size: font-size(small);
              color: grey;
            }
          }
          .item-info {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(214, 214, 214);
            padding: 1rem 0 1.5rem 0;
            &-title,
            &-price {
              font-size: 2rem;
              span {
                display: block;
                font-size: font-size(xsmall);
              }
            }
          }
        }
        &-total {
          padding: 1rem 3rem;
          display: flex;
          justify-content: space-between;
          font-size: 2rem;
          color: rgb(0, 161, 0);
        }
        &-btn {
          margin-top: 10rem;
          button {
            font-size: 2rem;
            background-color: black;
            color: white;
            padding: 1rem 2rem;
            min-width: 15rem;
            border-radius: 5rem;
            display: flex;
            align-items: center;
            margin: 0 auto;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover,
            &:active {
              background-color: rgb(18, 18, 18);
            }
            span {
              font-size: 1.2rem;

              margin-right: 2rem;
            }
          }
        }
      }
      &-8 {
        transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);

        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        // height: 50vh;

        &.selected {
          left: 0%;
        }
        &-heading {
          height: 4.5rem;
          padding: 0.5rem 2rem;
          border-bottom: 1px rgb(205, 205, 205) solid;
          width: 100%;
          h2 {
            display: inline-block;
            font-size: 2rem;
            font-weight: font-weight(bold);
            width: fit-content;
          }
        }
        &-form {
          padding: 0 2rem;
          margin-top: 2rem;
          .heading {
            font-size: font-size(medium);
          }
          #contactInfo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;

            .input {
              display: flex;
              flex-wrap: wrap;
              width: 48%;
              margin-bottom: 1rem;

              label {
                width: 100%;
                font-size: font-size(small);
              }
              input {
                width: 100%;
                height: 3rem;
                background-color: white;
                border: 1px solid black;
              }
              small {
                font-size: 1rem;
                color: grey;
                margin-top: 0.5rem;
                line-height: 1.4rem;
              }
            }
          }
          form {
            .checkout {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 2rem;
              input {
                position: relative;
                display: block;
                margin: 0rem auto 0 auto;
                font-size: font-size(regular);
                padding: 1rem 3rem;
                min-width: 23rem;
                background-color: black;
                color: white;
                border-radius: 5rem;
                transition: all 0.2s ease-in-out;
                border: none;
                opacity: 1;
                cursor: pointer;

                &:hover,
                &:active {
                  background-color: rgb(20, 20, 20);
                }
                &.hide {
                  min-width: 17rem;
                  z-index: 0;
                  margin-top: -12rem;
                  opacity: 0;
                }
              }
            }
          }
          #customerBtn {
            width: 100%;
            button {
              display: block;
              margin: 5rem auto 0 auto;
              font-size: font-size(small);
              padding: 1rem 3rem;
              min-width: 17rem;
              background-color: black;
              color: white;
              border-radius: 5rem;
              transition: all 0.2s ease-in-out;
              cursor: pointer;
              &:active,
              &:hover {
                background-color: rgb(20, 20, 20);
              }
              span {
                margin-right: 1rem;
              }
            }
          }
        }
      }
    }
    .hidden-day {
      display: none;
    }
    .cart-btns {
      position: absolute;
      bottom: 0rem;
      right: 0;
      left: 0;
      padding-top: 3rem;
      box-shadow: 10rem 20px 50px var(--primary-90),
        -30rem 10px 70px var(--secondary-80);
      border-radius: 20rem 20rem 0rem 0rem;
      transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
      background-color: white;
      &.hide {
        opacity: 0;
        transform: translateY(29rem);
      }
      .set-date {
        display: block;
        margin: 2rem auto 2rem auto;
        background-color: rgb(47, 47, 47);
        // box-shadow: 0 2px 8px rgb(47, 47, 47);
        color: white;
        line-height: 4rem;
        padding: 0 7rem;
        border-radius: 10rem;
        font-size: font-size(small);
        font-weight: font-weight(regular);
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        cursor: pointer;
        &:hover,
        &:active {
          background-color: rgb(20, 20, 20);
        }
        &:disabled {
          background-color: rgb(44, 44, 44);
          cursor: not-allowed;
        }
      }
      .add-more {
        display: block;
        margin: 0 auto;
        // background-color: rgb(47, 47, 47);
        border: 2px solid rgb(47, 47, 47);

        color: rgb(76, 76, 76);
        line-height: 3rem;
        padding: 0 10rem;
        border-radius: 10rem;
        font-size: font-size(small);
        font-weight: font-weight(regular);
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        cursor: pointer;
        &:hover,
        &:active {
          background-color: rgb(20, 20, 20);
          color: white;
        }
      }
    }
  }
  &.open {
    left: 0;
    transition: all 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);
    .booking-form__overlay {
      opacity: 1;
      top: 0;
      left: 0;
    }
  }
  @include media-tablet {
    &__overlay {
      background-color: none;
      width: 0;
      height: 0;
      z-index: 1;
      #closeBookingForm {
        z-index: 10;
      }
    }
    &__content {
      width: 100%;
      &-header {
        span {
          z-index: 2;
          display: block;
          width: 5rem;
          height: 5rem;

          top: 0.5rem;
          right: 1rem;
          position: absolute;
          //   background-color: black;
          border-radius: 0.5rem;
          cursor: pointer;
          &::before,
          &::after {
            content: "";
            display: block;

            width: 100%;
            height: 0.5rem;
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
          }
          &::after {
            transform: rotate(45deg);
          }
          &::before {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

@keyframes grow {
  0% {
    box-shadow: 0px 0px 0rem hsla(14.1, 100%, 70%, 0.66),
      0px 0px 0rem hsla(14.1, 100%, 70%, 0.66);
  }
  50% {
    box-shadow: 0px 0px 1.5rem hsla(14.1, 100%, 56%, 0.46),
      0px 0px 2.5rem hsla(14.1, 100%, 93%, 0.66);
  }
  100% {
    box-shadow: 0px 0px 0rem hsla(14.1, 100%, 70%, 0.66),
      0px 0px 0rem hsla(14.1, 100%, 70%, 0.66);
  }
}
