.hero-2 {
  min-height: fit-content;

  &__content {
    position: relative;
    // @extend %sec-padding;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    &-info {
      width: 50%;
      align-self: center;
      justify-self: center;
      padding: 2rem 0;
      &__title {
        text-align: center;
        font-size: font-size(medium);
        background: linear-gradient(
          to bottom right,
          var(--secondary-60),
          var(--primary-60)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &__btn {
        display: block;
        margin: 2rem auto;
        position: relative;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        font-size: font-size(regular);
        color: var(--primary-99);
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        background: linear-gradient(
          to right,
          var(--primary-70-m),
          var(--secondary-70-m)
        );
        &::after {
          position: absolute;
          display: block;
          content: "";
          top: 0;
          left: -5rem;
          width: 19%;
          height: 120%;
          transform: skewX(30deg);
          background-color: rgba(255, 255, 255, 0.474);
          transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        &:active,
        &:hover {
          transform: scale(1.06);
          background-color: var(--primary-80);
        }
        &:active::after,
        &:hover::after {
          left: 18rem;
        }
      }
    }
    &-img-wrapper {
      width: 50%;
      height: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &-img {
        width: 100%;
        height: auto;
      }
    }
  }
  @include media-medium {
    &__content {
      flex-wrap: wrap-reverse;
      &-info {
        position: relative;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, white, var(--secondary-98));
        width: 100%;
      }
      &-img-wrapper {
        position: relative;
        width: 100%;
        // overflow: hidden;
        &-img {
          width: 100%;
          height: auto;
          // top: 0rem;
          // left: 0;
          // width: 100%;
          z-index: -1;
        }
      }
    }
  }
}
