.header {
  position: relative;
  height: max-content;
  width: 100%;
  padding: 0 4vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10;
  background-color: white;
  padding-bottom: 2rem;
  border-radius: 0 0 3rem 3rem;
  .overlay {
    display: none;
    position: fixed;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-80-m);
    z-index: -1;
    overflow: hidden;
    transform: translate(100%, 0);
    transition: transform 0.5s ease-in-out;
    &.open {
      transform: translate(0, 0);
      transition: transform 0.5s ease-in-out;
    }
  }
  &__logo {
    // flex-basis: 100%;
    height: auto;
    img {
      display: block;
      margin: 2rem auto 0 auto;
      height: auto;
      width: 11.5rem;
    }
  }

  .nav-container {
    height: min-content;
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 2rem;
    .navlink__container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      .nav-link,
      .nav-link:link,
      .nav-link:active {
        margin: 0 calc(2rem + 2vw);
        font-size: font-size(small);
        // font-weight: font-weight(light);
        color: var(--primary-10);
        font-family: var(--font-heading-family);
      }
      .nav-link-active,
      .nav-link-active:link,
      .nav-link-active:active {
        margin: 0 calc(2rem + 2vw);
        font-size: font-size(small);
        // font-weight: font-weight(light);
        color: var(--primary-50);
        padding: 1rem 0;
      }
      #bookAppointment {
        position: relative;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        color: var(--primary-99);
        background-color: var(--primary-80-m);
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &::after {
          position: absolute;
          display: block;
          content: "";
          top: 0;
          left: -5rem;
          width: 19%;
          height: 120%;
          transform: skewX(30deg);
          background-color: hsla(0, 0%, 100%, 0.474);
          transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        &:hover::after {
          left: 12rem;
        }
        &:hover {
          transform: scale(1.06);
          background-color: var(--primary-80);
        }
      }
    }
  }
  .cart-icon {
    position: absolute;
    bottom: 1.5rem;
    right: 3rem;
    display: block;
    margin-left: auto;
    width: 5rem;
    border-radius: 1rem;
    height: auto;
    background-color: var(--primary-99);
    border: none;
    cursor: pointer;
    img {
      display: block;
      margin: 0.4rem auto;
      width: 4rem;
      height: 4rem;
    }
    &-num {
      display: block;
      position: absolute;
      top: 0.4rem;
      left: 2.6rem;
      background-color: var(--primary-30);
      width: 2rem;
      text-align: center;
      border-radius: 10rem;
      line-height: 2rem;
      font-size: 1.5rem;
      font-weight: font-weight(bold);
      color: var(--primary-99);
    }
  }
  .hamburger-button {
    display: none;
    position: absolute;
    top: 7rem;
    right: 0.5rem;
    width: 5rem;
    height: 5rem;
    padding: 1rem 1rem;
    background-color: var(--primary-10);
    border-radius: 1rem;
    z-index: 1;
    cursor: pointer;
    .lines,
    .lines::after,
    .lines::before {
      display: block;
      position: relative;
      top: 0rem;
      left: 0;
      opacity: 1;
      width: 100%;
      height: 0.2rem;
      background-color: var(--primary-30);
      transition: all 0.5s ease-in-out;
    }
    .lines::after {
      position: absolute;
      content: "";
      top: 1.25rem;
      transition: all 0.5s ease-in-out;
    }
    .lines::before {
      position: absolute;
      content: "";
      top: 2.5rem;
      transition: all 0.5s ease-in-out;
    }
    &.open {
      .lines {
        background-color: transparent;
        &::after {
          transform: rotate(45deg);
          transition: all 0.5s ease-in-out;
        }
        &::before {
          transform: rotate(-45deg);
          transition: all 0.5s ease-in-out;
        }
        &::after,
        &::before {
          top: 1.25rem;
        }
      }
    }
  }
  @include media-tablet {
    .overlay {
      display: block;
      .open {
        overflow: hidden;
      }
    }
    .header__logo {
      img {
        height: 10rem;
      }
    }
    .nav-container {
      overflow-x: hidden;
      &.open {
        overflow-x: visible;
      }
      height: 0;
      .navlink__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 100vw;
        transform: translate(100%, 0);
        transition: transform 0.5s ease-in-out;
        .nav-link,
        .nav-link:active,
        .nav-link:link {
          font-size: font-size(regular);
          color: var(--primary-99);
          margin: 3rem 0;
        }
        .nav-link-active,
        .nav-link-active:active,
        .nav-link-active:link {
          font-size: font-size(regular);
          color: var(--secondary-90);
          margin: 3rem 0;
        }
        &.open {
          position: fixed;
          overflow: hidden;
          transform: translate(0, 0);
          transition: transform 0.5s ease-in-out;
        }
      }
    }
    .cart-icon {
      width: 5rem;
      height: 5rem;
      position: fixed;
      bottom: 0;
      top: 2rem;
      right: 0.5rem;
      border: 2px solid var(--primary-30);
      border-radius: 1rem;
    }
    .hamburger-button {
      position: fixed;
      top: 9rem;
      display: block;
      background-color: var(--primary-99);
      border: 2px solid var(--primary-30);
    }
  }
}
