.hero {
  width: 100%;

  position: relative;

  .image-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    overflow: hidden;
    .hero-bg-image {
      position: absolute;
      top: 0rem;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1;
    }
  }

  &__content {
    height: 90vh;
    overflow: hidden;

    @extend %sec-padding;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: linear-gradient(
      to bottom,
      hsla(323.1, 100%, 94.9%, 0.51) 50%,
      hsla(323.1, 100%, 94.9%, 0.91) 76%
    );
    &-title {
      @extend %sec-heading;
      text-align: center;
    }
    &-cards {
      margin-top: 5rem;
      padding: 0 5rem;
      width: 100%;
      height: min-content;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap;
      &-card {
        width: calc(35rem + 5vw);
        max-width: 100rem;
        height: min-content;
        max-height: 40rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--secondary-99);
        padding: 3rem 3rem;
        box-shadow: 0 18px 17px -12px rgba(0, 0, 0, 0.25);
        h2 {
          width: 100%;
          text-align: center;
          margin-bottom: 2rem;
          font-size: font-size(regular);
          color: var(--primary-40);
        }
        #bookAppointment {
          cursor: pointer;
        }
      }
    }
  }
  .svg-illustration {
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    height: auto;
    width: 30%;
    bottom: 5%;
    right: 35%;
  }
  #flowerHead-1 {
    stroke-width: 1;
    stroke: var(--primary-90);
    stroke-dasharray: 180;
    stroke-dashoffset: 0;
    animation: flowerHead 10s linear forwards infinite;
  }
  .svg-divider {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: -1;
    path {
      bottom: 0;
      right: 0;
      fill: var(--secondary-98);
    }
  }
  @include media-desktop-max {
    .image-container {
      .hero-bg-image {
        height: 100%;
        width: 100%;
      }
    }
  }

  @include media-medium {
    .image-container {
      .hero-bg-image {
        height: 100%;
        width: auto;
      }
    }
  }

  @include media-tablet {
    height: 80vh;
    .image-container {
      .hero-bg-image {
        height: 100%;
        width: auto;
      }
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      &-cards {
        margin-top: 0rem;

        display: flex;
        height: min-content;
        padding: 0 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        &-card {
          margin-top: 0rem;

          width: 100%;

          background-color: var(--secondary-99-m);
        }
      }
    }
    .svg-illustration {
      bottom: -8vh;
      width: 80%;
      right: 10%;
      height: 95%;
    }
    .svg-divider {
      bottom: 7rem;
      z-index: -1;
      transform: scaleX(2);
      height: auto;
    }
  }
}

@keyframes flowerHead {
  0% {
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dashoffset: 180;
  }
  50% {
    stroke-dashoffset: 360;
  }
  75% {
    stroke-dashoffset: 180;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
