.hero {
  width: 100%;

  &__content {
    height: 80vh;
    overflow: hidden;

    @extend %sec-padding;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    &-title {
      font-size: font-size(regular);
      width: 100%;
      text-align: center;
      color: var(--primary-80);
    }
    &-cards {
      margin-top: 5rem;
      padding: 0 5rem;
      width: 100%;
      height: min-content;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap;
      &-card {
        width: calc(30rem + 5vw);
        max-width: 100rem;
        height: min-content;
        max-height: 40rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--secondary-99);
        padding: 3rem 3rem;
        box-shadow: 0 18px 17px -12px rgba(0, 0, 0, 0.25);
        h2 {
          width: 100%;
          text-align: center;
          margin-bottom: 2rem;
          font-size: font-size(small);
          color: var(--primary-40);
        }
      }
    }
  }
  .svg-illustration {
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    height: auto;
    width: 30%;
    bottom: 5%;
    right: 35%;
  }
  #flowerHead-1 {
    stroke-width: 1;
    stroke: var(--primary-90);
    stroke-dasharray: 180;
    stroke-dashoffset: 0;
    animation: flowerHead 10s linear forwards infinite;
  }
  .svg-divider {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: -1;
    path {
      bottom: 0;
      right: 0;
    }
  }
  @include media-tablet {
    height: 80vh;
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      &-cards {
        margin-top: 0rem;
        display: flex;
        height: 100%;
        padding: 0 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        &-card {
          width: 100%;
          max-width: none;
          background-color: var(--secondary-99-m);
          &:nth-of-type(2) {
            // margin-top: 3rem;
          }
        }
      }
    }
    .svg-illustration {
      bottom: -6vh;
      width: 80%;
      right: 10%;
      height: 95%;
    }
    .svg-divider {
      bottom: -6vh;
      z-index: -1;
      transform: scaleX(2);
      height: auto;
    }
  }
}

@keyframes flowerHead {
  0% {
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dashoffset: 180;
  }
  50% {
    stroke-dashoffset: 360;
  }
  75% {
    stroke-dashoffset: 180;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
